@using SuperManBusinessLogic.Group_Logic

@model Ets.Model.DomainModel.Bussiness.BusinessManageList

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">序号</th>
            <th>商户名称</th>
            <th>电话</th>
            <th>地址</th>
            <th>照片</th>
            <th>申请时间</th>
            <th>所属集团</th>
            <th>结算比例</th>
            @*<th>订单</th>
                <th>订单金额</th>*@
            <th>审核状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
           
            var puth = SuperManCore.CustomerIconUploader.Instance.RelativePath;
            var PicHost = SuperManCore.CustomerIconUploader.Instance.PicHost;
            //var path=System.IO.Path.Combine(SuperManCore.CustomerIconUploader.Instance.RelativePath,).ToForwardSlashPath();
            foreach (var item in Model.businessModel)
            {
                i++;
                <tr id="@item.Id">
                    <td>@i</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.Address</td>
                    <td>
                        <a href="javascript:void(0)" onclick="funcPicView('@String.Format("{0}{1}",PicHost,puth)','@item.CheckPicUrl')">查看</a>
                    </td>
                    <td>@item.InsertTime</td>
                    <td>
                        @if (item.GroupId != null) //当前商户有集团信息
                        {
                            @Html.Raw(GroupLogic.groupLogic().GetGroupName(Convert.ToInt32(item.GroupId)))
                        }
                    </td>
                    <td>
                        @{
                            decimal? commission = @item.BusinessCommission ?? 0;
                        }@commission%
                    </td>
                    @{
                var statusView = "";
                if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_AUDITPASS)
                {
                    statusView = "审核通过";
                }

                else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_AUDITPASSING)
                {
                    statusView = "审核中";
                }
                else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_NOADDRESS)
                {
                    statusView = "未审核且未添加地址";
                }
                else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_NOAUDIT)
                {
                    statusView = "未审核";
                }
                else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_AUDITCANCEL)
                {
                    statusView = "审核被拒绝";
                }
                //if (@item.Status == SuperManCommonModel.ConstValues.BUSINESS_AUDITPASS)
                //{
                //    statusView = "审核通过";
                //}

                //else if (@item.Status == SuperManCommonModel.ConstValues.BUSINESS_AUDITPASSING)
                //{
                //    statusView = "审核中";
                //}
                //else if (@item.Status == SuperManCommonModel.ConstValues.BUSINESS_NOADDRESS)
                //{
                //    statusView = "未审核且未添加地址";
                //}
                //else if (@item.Status == SuperManCommonModel.ConstValues.BUSINESS_NOAUDIT)
                //{
                //    statusView = "未审核";
                //}
                //else if (@item.Status == SuperManCommonModel.ConstValues.BUSINESS_AUDITCANCEL)
                //{
                //    statusView = "审核被拒绝";
                //}
                    }
                    <td>@statusView</td>
                    <td>
                        @{
                if (@item.Status == 1)
                {
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.BusiAudit))
                    {
                        <a href="javascript:void(0)" style="color:gray" businessid="@item.Id" class="businessOk">审核通过</a>
                            <a href="javascript:void(0)" businessid="@item.Id" class="businessCel">取消资格</a>
                    }
                }
                else
                {
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.BusiAudit))
                    {
                        <a href="javascript:void(0)" businessid="@item.Id" class="businessOk">审核通过</a>
                            <a href="javascript:void(0)" style="color:gray" businessid="@item.Id" class="businessCel">取消资格</a>
                    }
                }
                        }
                    <a href="javascript:void(0)" onclick="funcComView(@item.Id,'@item.Name','@item.Address','@item.PhoneNo','@item.BusinessCommission')">设置结算比例</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
@Html.Partial("_NewPager", Model.PagingResult)

<script type="text/javascript">
    var currentId;
    $(document).ready(function () {
        $(".businessOk").bind("click", function () {
            currentId = $(this).attr("businessId");
            var paramaters = { "id": currentId };
            var url = "/BusinessManager/AuditOK";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/BusinessManager/BusinessManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
        $(".businessCel").bind("click", function () {
            currentId = $(this).attr("businessId");
            var paramaters = { "id": currentId };
            var url = "/BusinessManager/AuditCel";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/BusinessManager/BusinessManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
    });

    function funcPicView(puth, CheckPicUrl) {
        $('#showBusiImage').attr('src', puth + '/' + CheckPicUrl);
         
        var originSize = '_0_0';
        var fileLastDot = CheckPicUrl.lastIndexOf('.');
        var fileHandHouZhui = CheckPicUrl.substr(fileLastDot, CheckPicUrl.length - fileLastDot);
        var bigFileName = CheckPicUrl.substring(0, fileLastDot) + originSize + fileHandHouZhui;
        $('#showBigBusiImage').attr('href', puth + '/' + bigFileName);

        adminjs.openwinbox('#BusiPicShow');
    }
        
    //弹出结算比例层
    function funcComView(id, name, address, phone, businessCommission) {
        if (businessCommission == null || businessCommission == "") {
            businessCommission = 0;
        }
        $('#busCommissionHid').val(id);
        $('#busCommissionName').val(name);
        $('#busCommissionAddress').val(address);
        $('#busCommissionPhone').val(phone);
        $('#busCommissionText').val(businessCommission);
        adminjs.openwinbox('#BusinessCommissionDiv');
    }

</script>
