@using ETS.Data.PageData
@using Ets.Model.DataModel.Finance
@using ETS.Util;
@using NPOI.HSSF.Record.Formula.Functions
<table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="900">
    <thead>
        <tr class="tdbg">
            <th>编号</th>
            <th>骑士姓名</th>
            <th>骑士电话</th>
            <th>时间</th>
            <th>状态</th>
            <th>操作人</th>
            <th>操作</th>
    </thead>
    <tbody>
        @{
            //var businessBalanceRecordList = ViewBag.businessBalanceRecord as List<Ets.Model.DataModel.Finance.BusinessBalanceRecord>;
            var businessBalanceRecord = ViewBag.businessBalanceRecord as PageInfo<BusinessBalanceRecord>;
            if (businessBalanceRecord != null && businessBalanceRecord.Records.Count > 0)
            {
                var i = 0;
                var recordTypeDes = "";
                foreach (var item in businessBalanceRecord.Records)
                {
                    recordTypeDes = ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.BusinessBalanceRecordRecordType)item.RecordType).GetType(), (ETS.Enums.BusinessBalanceRecordRecordType)item.RecordType).Text;
                    i++;
                    <tr id="@item.Id">
                        <td>@recordTypeDes</td>
                        <td>
                            @if (item.RecordType == 3 || item.RecordType == 4 || item.RecordType == 5 || item.RecordType == 9)
                            {
                                <a href="javascript:funLookDetail(@item.WithwardId)">@item.RelationNo</a>
                            }
                            else
                            {
                                <a href="/Order/OrderDetail?OrderNo=@item.RelationNo&OrderId=@item.WithwardId ">@item.RelationNo</a>
                            }
                        </td>
                        <td>￥@ParseHelper.ToSplitByPercentile(false, item.Amount)</td>
                        <td>￥@ParseHelper.ToSplitByPercentile(false, item.Balance)</td>
                        <td>@(item.Status == ETS.Enums.BusinessBalanceRecordStatus.Success.GetHashCode() ? "交易成功" : "交易中")</td>
                        <td>@item.OperateTime</td>
                        <td>@item.Operator</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@{
    if (businessBalanceRecord != null)
    {
        ViewBag.ActionName = "PostBusinessBalanceRecord";
        @Html.Partial("~/views/shared/PagerControl.cshtml", businessBalanceRecord)
    }
}

<script type="text/javascript">
</script>


