@model Ets.Model.DomainModel.Bussiness.BusinessDetailModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@using Ets.Model.DomainModel.Bussiness
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="~/Scripts/ajaxfileupload.js"></script>

<h2 class="crumbs">
    您所在位置：商户 > 商户管理 > 绑定骑士管理 > 添加骑士绑定
</h2>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <input type="button" value="手动绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBatchBind();" />
        </td>
        <td>
            <input type="button" value="批量绑定" class="searchBtn" id="btnBindClienter" onclick="addClienterBatchBind();" />
        </td>
    </tr>
    <tr class="trclass">
        <td>商铺名称：@Model.Name</td>
        <td><input type="hidden" id="businessId" name="businessId" value="@Model.Id" /></td>
        <td></td>
        <td></td>
    </tr>
</table>


@using (Html.BeginForm("ClienterBatchBind", "BusinessManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="SearchMd">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>

                <td>
                    @*<input name="busId" id="busId" type="hidden" value="@Model.Id" />*@
                    <input id="file1" type="file" name="file1">
                    <input type="button" value="导入" class="searchBtn" id="btnImport" />
                    @*<input type="submit" value="导入" onclick="Import();" class="searchBtn" id="btnImport" />*@
                    @*<input type="button" value="导入" onclick="return funImport()" class="searchBtn" id="btnImport" />*@
                    <input type="button" value="保存绑定" class="searchBtn" id="btnSave" />

                </td>
            </tr>

        </table>

    </div>
}

<table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="900">
    <thead>
        <tr class="tdbg">
            <th>行号</th>
            <th>骑士姓名</th>
            <th>骑士手机号</th>
            <th>是否绑定</th>
            <th>状态</th>
            <th>备注</th>
    </thead>
    <tbody>
        @{
            var clienterList = ViewBag.ClienterList as List<BusinessBindClienterDM>;
            if (clienterList != null && clienterList.Count > 0)
            {
                foreach (var item in clienterList)
                {
                    <tr>
                        <td>@item.RowCount</td>
                        <td>@item.ClienterName</td>
                        <td>@item.ClienterPhoneNo</td>
                        <td>
                            @if (item.IsBind)
                            {
                                <input id="Checkbox1" type="checkbox" checked="checked" />
                            }
                        </td>
                        <td>
                            @if (item.IsEnable)
                            {
                                @Html.Label("成功");
                            }
                            else
                            {
                                @Html.Label("失败");
                            }
                        </td>
                        <td style="color:red;font-weight:600">@item.ClienterRemarks</td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

<script type="text/javascript">
    //商户充值
    $("#btnImport").on('click', function () {
        
        var BusinessId = $('#businessId').val();
        var url = "/BusinessManager/ClienterImport?BusinessId=" + BusinessId;
        $.ajaxFileUpload({
            type: 'POST',        
            secureuri: false, //一般设置为false
            fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
            url: url,
            data: "", //此参数非常严谨，写错一个引号都不行
            //success: function (result) {
            //    console.log(result);
            //    if (result.IsSuccess) {
            //        //alert(result.Message);
            //        window.location.href = "/BusinessManager/ClienterBatchBind";
            //    } else {
            //        //alert(result.Message);
            //        alert("aa");
            //    }
            //}

            success: function (data, status)  //服务器成功响应处理函数
            {            
                //window.location.href = "/BusinessManager/ClienterBatchBind";
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }

        });
    }        )
    //商户充值
    $("#btnSave").on('click', function () {
        var busiId = $('#businessId').val(); 
        var paramaters = {
            "BusinessId": busiId
        };

        var url = "/BusinessManager/ClienterBatchSave";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/BusinessManager/ClienterBatchSave";
                } else {
                    alert(result.Message);
                }
            }
        });
    }
        )


</script>