@model Ets.Model.DataModel.Message.MessageModel
@using System.Collections
@using ETS.Enums
@using ETS.Extension
@using Ets.Model.DomainModel.Area
@using Ets.Service.IProvider.Common
@using Ets.Service.Provider.Common
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
 
}

<script src="~/Content/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajaxfileupload.js"></script>
<div style="width:800px;height:auto;border: 1px #dcdcdc solid">
    <h2 class="crumbs">
        您所在位置：消息管理 > 消息群发管理 > 消息详情
    </h2>
    <div style="width:798px;height:auto;padding-left:10px;border:1px #dcdcdc solid;border-left:hidden;border-right:hidden;border-top:hidden">
        <div style="width:780px;height:25px;">
            <div style="float: left">
                <label>消息类型：</label>
                @(((MessagePushWay)Enum.Parse(typeof(MessagePushWay), Model.PushWay.ToString(), false)).GetDisplayText())
            </div>
        </div>
        <div style="width:780px;height:25px;">
            <div style="float: left">
                <label>群发方式：</label>
                @(((MessagePushType)Enum.Parse(typeof(MessagePushType), Model.PushType.ToString(), false)).GetDisplayText())
            </div>
        </div>
        @if (Model.PushType == 1)
        {
            <div style="width:780px;height:25px;">
                <div style="float: left">
                    <label>推送对象：</label>
                    @(((MessagePushTarget)Enum.Parse(typeof(MessagePushTarget), Model.PushTarget.ToString(), false)).GetDisplayText())
                </div>
            </div>
            

            IAreaProvider area = new AreaProvider();
            string result = area.GetOpenCity("").Result.AreaModels.Where(t => Model.PushCity.IndexOf(t.Code.ToString()) > 0).ToList()
                .Aggregate("", (current, action) => current + (action.Name.ToString() + ","));
             
            
            <div style="width:780px;height: auto;overflow: hidden;max-height: 150px;">
                <div style="float: left">
                    <label>推送城市：</label>
                    @result.Substring(0,result.Length-1)
                </div>
            </div>
            
        }


        <div style="width:780px;height:25px;">
            <div style="float: left">
                <label>发布类型：</label>
                @(((MessageSendType)Enum.Parse(typeof(MessageSendType), Model.SendType.ToString(), false)).GetDisplayText())
            </div>
        </div>

        <div style="width:780px;height:25px;">
            <div style="float: left">
                <label>内容：</label>
                @Model.Content
            </div>
        </div>
    </div>
</div>


