@model Ets.Model.DataModel.Message.MessageModel
@using Ets.Model.DomainModel.Area
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var dealType = @ViewBag.dealType;
}

<script src="~/Content/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajaxfileupload.js"></script>
<div style="width:800px;height:auto;border: 1px #dcdcdc solid">
    <h2 class="crumbs">
        您所在位置：消息管理 > 消息群发管理 > 添加消息模板
    </h2>
    <div style="width:798px;height:auto;padding-left:10px;border:1px #dcdcdc solid;border-left:hidden;border-right:hidden;border-top:hidden">
        <div style="width:780px;height:25px;">
            <div style="float: left">
                <label>推送方式：</label>
                <input type="hidden" id="hidDealType" name="hidDealType" value="@dealType">
                <input type="hidden" id="msgId" name="msgId" value="@(Model!=null?Model.Id:0)" />
            </div>
            <div style="float: left;width:700px;">
                <div id="divchkMessage" style="float: left;">
                    <input name="chkPushWay" id="chkMessage" type="checkbox" value="1">短  信
                </div>
                <div id="divchkApp" style="float: left;margin-left:20px">
                    <input name="chkPushWay" id="chkApp" type="checkbox"  value="2">app通知
                </div>
                @if (dealType == 2)
                {
                    <input type="hidden" id="hidPushWay" name="hidPushWay" value="@Model.PushWay" />
                }
            </div>
        </div>

        <div style="width:780px;height:25px;margin-top:10px">
            <div style="float: left">
                <label>消息类型：</label>
            </div>
            <div style="float: left;width:700px">
                <select id="selMessageType">
                    <option value="1">通知</option>
                    <option value="2">策略调整</option>
                    <option value="3">活动</option>
                </select>
                @if (dealType == 2)
                {
                    <input type="hidden" id="hidMessageType" name="hidMessageType" value="@Model.MessageType" />
                }
            </div>
        </div>

        <div style="width:780px;height:120px;margin-top:10px">
            <div style="float:left;margin-left:20px;">
                <label>内  容：</label>
            </div>
            <div style="float:left;width:700px">
                <textarea cols="70" rows="5" id="txtContent"></textarea><br />
                <label id="labContent">内容长度：0/200</label>
                @if (dealType == 2)
                {
                    <input type="hidden" id="hidContent" name="hidContent" value="@Model.Content" />
                }
            </div>
        </div>

        <div style="width:243px;height:27px;margin-top:10px;border:1px #dcdcdc solid;">
            <div style="background-color:lightgrey;float:left;font-size:16px;width:120px" id="systemMass"><center>系统群发</center></div>
            <div style="background-color:Window;float:left;font-size:16px;width:120px;margin-left:1px" id="appointObject"><center>指定对象</center></div>
            <input type="hidden" name="PushType" id="PushType" value="1" />
            @if (dealType == 2)
            {
                <input type="hidden" id="hidPushType" name="hidPushType" value="@Model.PushType" />
            }
        </div>

        <div style="width:800px;height: auto;padding-left:10px;" id="systemMassShow">

            <div style="width:780px;height:25px;margin-top:10px">
                <div style="float: left">
                    <label>推送对象：</label>
                </div>
                <div style="float:left;width:700px">
                    <input name="chkPushTarget" id="chkBusiness" type="checkbox" value="1">商  家
                    <input name="chkPushTarget" id="chkClienter" type="checkbox" style="margin-left:20px" value="2">骑  士
                    @if (dealType == 2)
                    {
                        <input type="hidden" id="hidPushTarget" name="hidPushTarget" value="@Model.PushTarget" />
                    }
                </div>
            </div>

            <div style="width:780px;height:125px;overflow:auto;margin-top:10px" id="divCity">
                <div style="float: left">
                    <label>推送城市：</label>
                </div>
                <div id="cityList" style="float: left;width:700px">
                    @{
                        var openCityList = ViewBag.openCityList.Result.AreaModels as List<AreaModel>;
                        if (openCityList != null && openCityList.Count > 0)
                        {
                            <div style="width: 140px;height:25px;float: left">
                                <input type="checkbox" name="checkAllMenus" id="selectAll" onclick="checkAll()" />全部
                            </div>
                            foreach (var item in openCityList)
                            {
                                <div style="width: 140px;height:25px;float: left">
                                    <input type="checkbox" name="checkMenus" id="@item.Code" value="@item.Code" />
                                    <label>@item.Name</label>
                                </div>
                            }
                        }
                    }
                    @if (dealType == 2)
                    {
                        <input type="hidden" name="hidPushCity" id="hidPushCity" value="@Model.PushCity" />
                    }

                </div>
            </div>

        </div>

        <div style="width:800px;height: auto;padding-left:10px;" id="appointObjectShow">
            <div style="width:780px;height:30px;margin-top:10px">
                <div style="float:left;padding:0px;border-bottom:hidden" class="SearchMd">
                    <input id="file1" type="file" name="file1">
                </div>
                <div class="SearchMd" style="float:left;border-bottom:hidden;padding:0px;margin-top:-5px">
                    <input type="button" value="导入" class="searchBtn" id="btnImport" style="" />
                </div>
                <div style="color:red;float:left;margin-left:20px">(导入必须为excel，只需一列手机号)</div>
                <div style="float:left;margin-left:20px">
                    <a href="/Content/Template/phoneNoTemplate.xlsx" target="_blank">下载模板</a>
                </div>
            </div>

            <div style="width:780px;height:120px;margin-top:10px">
                <div style="float:left;">
                    <label>输入手机号码：</label>
                </div>
                <div style="float:left;width:600px">
                    <textarea cols="70" rows="5" id="txtPushPhone"></textarea><br />
                    <div style="color:red">(手机号码必须英文逗号隔开，如：15212111111,13777777777)</div>
                    @if (dealType == 2)
                    {
                        <input type="hidden" name="hidPushPhone" id="hidPushPhone" value="@Model.PushPhone" />
                    }
                </div>
            </div>
        </div>
        <div style="width:800px;height: auto;padding-left:10px;">
            <div style="width:780px;height:25px;margin-top:10px">
                <div style="float: left">
                    <label>发布类型：</label>
                </div>
                <div style="float:left;width:700px">
                    <input name="rSendType" id="rTiming" type="radio" value="2" checked="checked"/> 定时发布
                    <input name="rSendType" id="rRealtime" type="radio" value="1" /> 实时发布
                    @if (dealType == 2)
                    {
                        <input type="hidden" name="hidSendType" id="hidSendType" value="@Model.SendType" />
                    }
                </div>
            </div>
            <div style="width:780px;height:25px;margin-top:10px" id="divSendTime">
                <div style="float: left">
                    <label>设置发布时间：</label>
                </div>
                <div id="datepicker" style="float:left;width:350px">
                    <input type="text" name="txtSendTime" id="txtSendTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'%y-%M-%d %H:{%m+5}:%s'})"  class="Wdate" />
                    @if (dealType == 2)
                    {
                        <input type="hidden" name="hidSendTime" id="hidSendTime" value="@Model.SendTime" />
                    }
                </div>
            </div>
            <div class="SearchMd" style="border-bottom:hidden;width:780px;height:65px;margin-top:10px">
                <div style="margin-left: 100px;float: left"><input type="button" value="确认" class="searchBtn" id="btnCommit" /></div>
                <div style="margin-left: 180px;float: left"><input type="button" value="关闭" class="searchBtn" id="btnClose" /></div>
                <br />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#systemMass").css("background-color", "lightgrey");
        $("#appointObject").css("background-color", "Window");
        $("#systemMassShow").show();
        $("#appointObjectShow").hide();
        $("#PushType").val(1);
        $("#divchkApp").show();
        var hidDealType = $("#hidDealType").val();
        if (hidDealType == 2) {
            var hidPushWay = $("#hidPushWay").val();
            var hidMessageType = $("#hidMessageType").val();
            var hidContent = $("#hidContent").val();
            var hidPushTarget = $("#hidPushTarget").val();
            var hidPushCity = $("#hidPushCity").val();
            var hidPushPhone = $("#hidPushPhone").val();
            var hidSendType = $("#hidSendType").val();
            var hidSendTime = $("#hidSendTime").val();
            var hidPushType = $("#hidPushType").val();
            if (hidPushWay == 3 || hidPushWay == 1) {
                $(":checkbox[id='chkMessage']").prop("checked", true);
            }
            if (hidPushWay == 3 || hidPushWay == 2) {
                $(":checkbox[id='chkApp']").prop("checked", true);
            }
            $('#selMessageType').val(hidMessageType);
            $('#txtContent').text(hidContent);
            if (hidPushTarget == 3 || hidPushTarget == 1) {
                $(":checkbox[id='chkBusiness']").prop("checked", true);
            }
            if (hidPushTarget == 3 || hidPushTarget == 2) {
                $(":checkbox[id='chkClienter']").prop("checked", true);
            }
            var cityArr = hidPushCity.split(",");
            $.each(cityArr, function (i, n) {
                $(":checkbox[id='" + n + "']").prop("checked", true);
            });
            $("#txtPushPhone").val(hidPushPhone);
            if (hidSendType == 1) {
                $("#rRealtime").attr("checked", "checked");
            }
            else {
                $("#rTiming").attr("checked", "checked");
            }
            $("#txtSendTime").val(hidSendTime);
            if (hidPushType==1) {
                $("#systemMass").css("background-color", "lightgrey");
                $("#appointObject").css("background-color", "Window");
                $('#systemMassShow').show();
                $('#appointObjectShow').hide();
                $("#PushType").val(1);
                $("#divchkApp").show();
                
            }
            else {
                $("#systemMass").css("background-color", "Window");
                $("#appointObject").css("background-color", "lightgrey");
                $('#systemMassShow').hide();
                $('#appointObjectShow').show();
                $("#PushType").val(2);
                $("#divchkApp").hide();
                $(":checkbox[id='chkApp']").prop("checked", false);
            }
            if (hidSendType == 1) {
                $("#divSendTime").hide();
            }
            else {
                $("#divSendTime").show();
            }
        }
        window.location.hash = '';
    });

    //全选
    function checkAll() {
        var checkedOfAll = $("#selectAll").prop("checked");
        $("input[name='checkMenus']").prop("checked", checkedOfAll);
    }
    //Tab页切换
    $("#systemMass").click(function () {
        $("#systemMass").css("background-color", "lightgrey");
        $("#appointObject").css("background-color", "Window");
        $('#systemMassShow').show();
        $('#appointObjectShow').hide();
        $("#PushType").val(1);
        $("#divchkApp").show();
    });
    $("#appointObject").click(function() {
        $("#systemMass").css("background-color", "Window");
        $("#appointObject").css("background-color", "lightgrey");
        $('#systemMassShow').hide();
        $('#appointObjectShow').show();
        $("#PushType").val(2);
        $("#divchkApp").hide();
        $(":checkbox[id='chkApp']").prop("checked", false);
    });
    //根据发布类型控制发布时间的显示隐藏
    $('input[name="rSendType"]').click(function () {
        var chkSendType = $('input[name="rSendType"]:checked').val();
        if (chkSendType == 1) {
            $("#divSendTime").hide();
        }
        else {
            $("#divSendTime").show();
        }
    });
    //消息内容文字提示
    $('#txtContent').keyup(function () {
        var conLng = $('#txtContent').val().length;
        if (conLng > 200) {
            $(this).val($(this).val().substring(0, 200));
            conLng = $('#txtContent').val().length;
        }
        $("#labContent").text("内容长度："+conLng+"/200");
    });
    //批量导入手机号
    $("#btnImport").click(function () {
        if ($("#file1").val().length <= 0) {
            alert("请选择导入文件！");
            return;
        }
        var url = "/MessageManager/PhoneNoImport";
        
        $.ajaxFileUpload({
            type: 'POST',
            secureuri: false, //一般设置为false
            fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
            url: url,
            data: "", //此参数非常严谨，写错一个引号都不行
            dataType: "json", //此参数非常严谨，写错一个引号都不行
            success: function (data, status) {
                if (data.IsSuccess) {
                    $("#txtPushPhone").val(data.Message);
                } else {
                    $("#txtPushPhone").val("");
                    alert(data.Message);
                }
            }
        });
    });
    $("#btnCommit").click(function() {
        var pushWay;
        var messageType = $("#selMessageType").val();
        var content = $("#txtContent").val();
        var sentStatus;
        var pushType = $("#PushType").val();
        var pushTarget;
        var pushCity;
        var pushPhone;
        var sendType = $('input[name="rSendType"]:checked').val();
        var sendTime = $("#txtSendTime").val();
        var dealType = $("#hidDealType").val();
        var msgId = $("#msgId").val();
        if (!$("#chkMessage").is(':checked') && !$("#chkApp").is(':checked')) {
            alert("请选择推送方式！");
            return;
        }
        if ($("#chkMessage").is(':checked') && $("#chkApp").is(':checked')) {
            pushWay = 3;
        }
        else {
            if ($("#chkMessage").is(':checked')) {
                pushWay = $("#chkMessage").val();
            }
            else {
                pushWay = $("#chkApp").val();
            }
        }
        if (content.trim().length < 15 || content.trim().length > 200) {
            alert("消息内容，必须在15字-200字之间!");
            return;
        }
        
        if (pushType == 1)//系统群发
        {
            if (!$("#chkBusiness").is(':checked') && !$("#chkClienter").is(':checked')) {
                alert("请选择推送对象！");
                return;
            }
            if ($("#chkBusiness").is(':checked') && $("#chkClienter").is(':checked')) {
                pushTarget = 3;
            }
            else {
                if ($("#chkBusiness").is(':checked')) {
                    pushTarget = $("#chkBusiness").val();
                }
                else {
                    pushTarget = $("#chkClienter").val();
                }
            }
            var cityCodeList = "";
            $("input[name='checkMenus']").each(function () {
                if ($(this).is(':checked')) {
                    cityCodeList = cityCodeList + $(this).val() + ",";
                }
            });
            if (cityCodeList.length > 0) {
                pushCity = cityCodeList.substring(0, cityCodeList.length - 1);
            }
            else {
                alert("请选择推送城市！");
                return;
            }
           
        }
        else//指定对象
        {
            pushTarget = 4;
            pushPhone = $("#txtPushPhone").val();
            if (pushPhone.trim().length == 0) {
                alert("手机号码不能为空！");
                return;
            }
            var reg = /^0?1\d{10}$/;
            var checkflag = true;
            var phoneArr = pushPhone.split(",");
            $.each(phoneArr, function (i, n) {
                if (!reg.test(n)) {
                    checkflag = false;
                }
            });
            if (!checkflag) {
                alert("手机号码格式有误，请重新输入！");
                return;
            }
            if (phoneArr.length > 1000) {
                alert("指定对象群发每次最多1000条！");
                return;
            }
        }
        if (sendTime.trim().length == 0 && sendType == 2) {
            alert("请设定发布时间！");
            return;
        }
        if (sendType == 1) {
            sentStatus = 1;
        }
        else {
            sentStatus = 0;
        }
        var remStr = "";
        if (sendType == 1) {
            remStr = "确认现在发布？";
        } else {
            remStr = "确定提交吗？";
        }
        if (confirm(remStr)) {
            var paramaters = {
                "Id": msgId, "pushWay": pushWay, "messageType": messageType, "content": content, "sentStatus": sentStatus, "pushType": pushType, "pushTarget": pushTarget, "pushCity": pushCity, "pushPhone": pushPhone,
                "sendType": sendType, "sendTime": sendTime, "dealType": dealType
            };
            var url = "/MessageManager/EditMessageTask";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        alert(result.Message);
                        window.location.href = "/MessageManager/List";
                    } else {
                        alert(result.Message);
                    }

                }
            });
        }
    });
    $("#btnClose").click(function () {
        window.location.href = "/MessageManager/List";
    });
</script>

