@using ETS.Enums
@using ETS.Extension
@using ETS.Util
@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Message.MessageModel>
@{
    Layout = null;
}
@if (Model != null && Model.Records.Count != 0)
{

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
        <thead>
            <tr class="tdbg">
                <th style="width: 70px;">编码</th>
                <th>推送方式</th>
                <th>消息类型</th>
                <th>发布类型</th>
                <th>消息内容</th>
                <th>添加时间</th>
                <th>发布时间</th>
                <th>消息状态</th>
                <th>操作人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{

    for (int i = 0; i < Model.Records.Count; i++)
    {
        <tr id="@Model.Records[i].Id">
            <td>@(i + 1)</td>
            <td>
                @(((MessagePushWay)Enum.Parse(typeof(MessagePushWay), Model.Records[i].PushWay.ToString(), false)).GetDisplayText())
            </td>
            <td>
                @(((MessageMessageType)Enum.Parse(typeof(MessageMessageType), Model.Records[i].MessageType.ToString(), false)).GetDisplayText())
            </td>
            <td>
                @(((MessageSendType)Enum.Parse(typeof(MessageSendType), Model.Records[i].SendType.ToString(), false)).GetDisplayText())
            </td>
            <td><a href="javascript:void;" onclick="detail(@Model.Records[i].Id)">@Model.Records[i].Content</a></td>
            <td>@Model.Records[i].CreateTime</td>
            <td>@Model.Records[i].SendTime</td>
            <td>
                @(((MessageSentStatus)Enum.Parse(typeof(MessageSentStatus), Model.Records[i].SentStatus.ToString(), false)).GetDisplayText())
            </td>
            <td>@Model.Records[i].UpdateBy</td>
            <td>
                @if (Model.Records[i].SentStatus == 0)
                {
                    <a href="/MessageManager/MessageDetail?messageId=@Model.Records[i].Id">编辑</a>
                    <a href="javascript:void;" onclick="Canel(@Model.Records[i].Id)">取消发布</a>
                }
            </td>
        </tr>
    }

            }
        </tbody>
    </table>


    ViewBag.ActionName = "PostList";
    @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
}
else
{
    <p style="font-weight: 200;font-size: 30px;margin: 15px;">
        暂无消息数据！
    </p>
}
