
@model GroupListModel
@using Ets.Model.ParameterModel.Group;
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">序号</th>
            <th>集团名称</th>
            <th>集团创建时间</th>
            <th>集团AppKey</th>
            <th>集团AppSecret</th>
            <th>APP版本</th>
            <th>状态</th>
            <th>操作人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            { 
            foreach (var item in Model.GroupApiConfigListModel)
            {
                <tr id="@item.GroupId">
                    <td>@item.GroupId</td>
                    <td width="10%">@item.GroupName</td>
                    <td width="10%">@item.CreateTime</td>
                    <td>@item.AppKey</td> 
                    <td>@item.AppSecret</td>
                    <td>@item.AppVersion</td>
                    @if (item.IsValid == 1)
                    {
                        <td width="5%"><a href="javascript:void(0);" onclick="SetGourpStatus(@item.GroupId,@item.IsValid)">启用</a></td>
                    }
                    else
                    {
                        <td width="5%"><a href="javascript:void(0);" onclick="SetGourpStatus(@item.GroupId,@item.IsValid)">未启用</a></td>
                    }                  
                    <td>@item.CreateName</td> 
                    <td width="15%"> 
                        <a href="javascript:void(0)" onclick="funcGShowView(@item.GroupId,'@item.GroupName')">修改</a>
                        @if (string.IsNullOrEmpty(item.AppKey) || item.AppKey == "")
                        {
                            <a href="javascript:void(0)" onclick="funcAShowView(@item.GroupId,'@item.GroupName')">设置AppKey</a>        
                        }
                    </td>
                </tr>
            }
  }
        }
    </tbody>

</table>
@Html.Partial("_NewPager", Model.PagingResult) 
<script type="text/javascript">
    //显示修改集团弹出层
    function funcGShowView(gid, gname) {
        $("#hiduGroupID").val(gid);
        $('#txtuGroupName').val(gname);
        adminjs.openwinbox('#GroupUpdateDivShow');
    }
    //显示设置config弹出层
    function funcAShowView(gid,gname) {
        $("#HidGroupID").val(gid); 
        $("#statusFinApp").text("配置-" + gname+"-AppConfig");
        adminjs.openwinbox('#GroupAppConfig');
    }
    function SetGourpStatus(id, status) {
        if (confirm("确定要更新此状态吗？")) {
            var pars = { "id": id, "status": status };
            var url = "/GroupManager/UpdateStatus";
            $.ajax({
                type: 'POST',
                url: url,
                data: pars,
                success: function(result) {
                    if (result.IsSuccess) {
                        window.location.href = "/GroupManager/GroupManager";
                    } else {
                        alert(result.Message);
                        return false;
                    }
                }
        });
        }
        return false;
    }
</script>