@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Authority.account>
@using SuperMan.App_Start
@using Ets.Service.Provider.User

<script src="~/Scripts/view/authoritylist.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">序号</th>
            <th>用户名</th>
            <th>登录名</th>
            <th>所属集团</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            foreach (var item in Model.Records)
            {
                i++;
                <tr id="@item.Id">
                    <td>@i</td>
                    <td>@item.UserName</td>
                    <td>@item.LoginName</td>
                    <td>@item.GroupName</td>
                    <td>@(item.Status == 0 ? "×" : "√")</td>
                    <td> 
                      @if (UserContext.Current.HasAuthority(27))
                      {
                        <a href="javascript:void(0)" onclick="funcUpdateAccountInfo(@item.Id,'@item.UserName','@item.LoginName','@item.Status',@item.AccountType)">修改</a>
                      } 
                       @if (UserContext.Current.HasAuthority(28))    
                        {
                            if (item.Status == 1)
                            {
                                <a href="javascript:void(0)" businessid="@item.Id" class="accountDel">禁用</a>
                            }
                            else
                            {
                                <a href="javascript:void(0)"  businessid="@item.Id" class="accountUsed">启用</a>
                            }

                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@{ViewBag.ActionName = "PostAuthorityManager";}
@Html.Partial("~/views/shared/PagerControl.cshtml", Model)
<div class="add-openbox zpsh-openw" id="Close_deletebox">
    <h2>删除确认</h2>
    <p class="textinfo">确定要删除此用户吗? 清除后不可恢复!</p>
    <p class="btnbox">
        <input value="删除" type="button" class="yesBtn" id="btnyesDel" />
        <input value="取消" type="button" class="J_closebox qxBtn" />
    </p>
</div>
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    var DEFAULT_PAGESIZE = 15;
    var criteria = { PagingRequest: { PageIndex: 1, PageSize: DEFAULT_PAGESIZE } };
    var currentId;
    $(document).ready(function () {         
    });
    //修改用户信息
    function funcUpdateAccountInfo(accountId, accountName, loginName, accountStatus,accountType) {
        $("#selAcountType").val('1');
        $('#accountName').val('');
        $('#loginName').val('');
        $('#password').val('');
        $('#confirmPassword').val('');
        $('#optionType').val('1');
        $("#modifyRemind").show();
        $("#selAcountType").val(accountType);
        $('#accountId').val(accountId);
        $("#isEnableY").attr("checked", "checked");
        $(":checkbox[name='checkMenus']").prop("checked", false);
        $("#accountName").attr("disabled", "true");
        $("#loginName").attr("disabled", "true");
        $('#accountName').val(accountName);
        $('#loginName').val(loginName);
        $('#statusFin').text("修改--" + accountName);
        if (accountStatus == 1) {
            $("#isEnableY").attr("checked", "checked");
        }
        else {
            $("#isEnableN").attr("checked", "checked");
        }
        funcCheckCity(accountId);
        adminjs.openwinbox('#AddAccountShow');
        if (accountType == 1) {
            $("#divCity").hide();
        } else {
            $("#divCity").show();
        }

    }
    function funcCheckCity(accountId) {
        var accountCityRef;
        var accountDcRef;//当前用户的物流公司权限
        var paramaters = { "accountId": accountId };
        var strCityNameList = "";
        var url = "/AuthorityManager/GetAccountCityRel";
        $.ajax({
            type: 'POST',
            async: false,
            url: url,
            data: paramaters,
            success: function (result) {
                accountCityRef = result;
            }
        });
        $.ajax({
            type: 'POST',
            async: false,
            url:  '/AuthorityManager/GetAccountDcRel',
            data: paramaters,
            success: function (result) {
               
                accountDcRef = result;
            }
        });
        if (accountCityRef.length > 0) {
            for (var i = 0; i < accountCityRef.length; i++) {
                $("#DcItemList :checkbox[id='" + accountCityRef[i].CityId + "']").prop("checked", true);
                strCityNameList = strCityNameList + accountCityRef[i].CityName + ",";
            }
        }
        if (accountDcRef.length > 0) {
            for (var i = 0; i < accountDcRef.length; i++) {
                $(":checkbox[id='" + accountDcRef[i].DeliveryCompanyID + "']").prop("checked", true);
            }
        }
        if (strCityNameList.length > 0) {
            strCityNameList = strCityNameList.substring(0, strCityNameList.length - 1);
        } else {
            strCityNameList = "无开通城市";
        }
           
        $('#cityNameList').text(strCityNameList);
        
    };
</script>
