@model ETS.Data.PageData.PageInfo<Ets.Model.Common.HomeCountTitleModel>
@using Webdiyer.WebControls.Mvc;

<table class="tbstyle"  border="1">
    <tr class="trclass">
        <td>日期</td>
        <td>商家数量</td>
        <td>认证骑士数量</td>
        <td>等待认证骑士数量</td>
        <td>订单金额</td>
        <td>任务量</td>
        <td>订单量</td>
        <td>商户平均发布订单</td>
        <td>任务平均订单量</td>
        <td>骑士平均完成订单量</td>
        <td>商户结算金额（应收）</td>
        <td>骑士佣金总计（应付）</td>
        <td>盈亏总计</td>
    </tr>

    @{
    foreach (var item in Model.Records)
        {
            //double lykPirce = (double)Math.Round(item.YsPrice - item.YfPrice, 2);
            string ykStyle = item.YkPrice > 0 ? "red" : "green";
            <tr class="trclass">
                <td>@item.InsertTime.ToString("yyyy-MM-dd")</td>
                <td>@item.BusinessCount</td>
                <td>@item.RzqsCount</td>
                <td>@item.DdrzqsCount</td>
                <td>@item.OrderPrice</td>
                <td>@item.MisstionCount</td>
                <td>@item.OrderCount</td>
                <td>@item.BusinessAverageOrderCount</td>
                <td>@item.MissionAverageOrderCount</td>
                <td>@item.ClienterAverageOrderCount</td>
                <td>@item.YsPrice</td>
                <td>@item.YfPrice</td>
                <td>￥<span style="color:@ykStyle">@item.YkPrice</span></td>
            </tr>
        }
    }
</table>
@{ViewBag.ActionName = "PostIndex";}
@Html.Partial("~/views/shared/PagerControl.cshtml", Model)
