@{
    ViewBag.Title = "后台统计";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h3 style="color:black;font-weight:600">今日数据统计</h3>
<style type="text/css">
    .trclass {
       text-align:left;
       line-height:35px;
       padding:15px;
       width:auto;
       min-width:800px;
    }

    .trclass  td {
        padding-left:15px;
        width:225px;
    }
</style>
<div>
    @{
        var resultList = ViewBag.homeCountTitleModel as Ets.Model.Common.HomeCountTitleModel;
        var homeCountByList=ViewBag.homeCountTitleToList;
        var homeCountAllData = ViewBag.homeCountTitleToAllData as Ets.Model.Common.HomeCountTitleModel;
        <p>
            <table class="tbstyle" width="1000" border="1">
                <tr class="trclass">
                    <td>
                        商家总数：@resultList.BusinessCount    <br />
                        认证骑士数量：@resultList.RzqsCount <br />
                        等待认证骑士：@resultList.DdrzqsCount  <br />
                    </td>
                    <td>
                        订单金额：@resultList.OrderPrice  <br />
                        任务量：@resultList.MisstionCount  <br />
                        订单量：@resultList.OrderCount <br />
                    </td>
                    <td>
                        商户平均发布订单：@resultList.BusinessAverageOrderCount  <br />
                        任务平均订单量：@resultList.MissionAverageOrderCount  <br />
                        骑士平均完成订单量：@resultList.ClienterAverageOrderCount <br />
                    </td>
                    <td>
                        商户结算金额（应收）：￥@resultList.YsPrice  <br />
                        骑士佣金总计（应付）：￥@resultList.YfPrice  <br />
                        @{
                            decimal ykPrice = resultList.YkPrice;
                            string ykStyle = ykPrice>0?"red":"green";
                        }
                        盈亏总计：￥<span style="color:@ykStyle">@resultList.YkPrice </span><br />
                    </td>
                </tr>
            </table>
        </p>
    }
</div>
<hr />
<h3 style="color:black;font-weight:600">总数据统计</h3>
<div>
    <p>
        <table class="tbstyle" width="1000" border="1">
            <tr class="trclass">
                <td>总任务量</td>
                <td>总订单量</td>
                <td>总订单金额</td>
                <td>总商户结算金额（应收)</td>
                <td>总骑士佣金总计（应付)</td>
                <td>总盈亏总计</td>
            </tr>

            @{
                double ykAllPirce = (double)Math.Round(homeCountAllData.YsPrice - homeCountAllData.YfPrice, 2);
                string ykAllStyle = ykAllPirce > 0 ? "red" : "green";
                    <tr class="trclass">
                        <td>@homeCountAllData.MisstionCount</td>
                        <td>@homeCountAllData.OrderCount</td>
                        <td>@homeCountAllData.OrderPrice</td>
                        <td>￥@Math.Round(homeCountAllData.YsPrice, 2)</td>
                        <td>￥@Math.Round(homeCountAllData.YfPrice, 2)</td>
                        <td>￥<span style="color:@ykAllStyle">@ykAllPirce</span></td>
                    </tr>
                }
        </table>
    </p>
    
    <hr />

    <h3 style="color:black;font-weight:600">最近20天数据统计</h3>
    <div>
        <p>
            <table class="tbstyle" width="1000" border="1">
                <tr class="trclass">
                    <td>日期</td>
                    <td>任务总量</td>
                    <td>订单总量</td>
                    <td>订单金额</td>
                    <td>商户结算金额（应收)</td>
                    <td>骑士佣金总计（应付)</td>
                    <td>盈亏总计</td>
                </tr>

                @{
                    foreach (var item in homeCountByList)
                    {
                        double lykPirce = (double)Math.Round(item.YsPrice - item.YfPrice, 2);
                        string lykStyle = lykPirce > 0 ? "red" : "green";
                        <tr class="trclass">
                            <td>@item.PubDate</td>
                            <td>@item.MisstionCount</td>
                            <td>@item.OrderCount</td>
                            <td>@item.OrderPrice</td>
                            <td>￥@Math.Round(item.YsPrice, 2)</td>
                            <td>￥@Math.Round(item.YfPrice, 2)</td>
                            <td>￥<span style="color:@lykStyle">@lykPirce</span></td>
                        </tr>
                    }


                }
            </table>
        </p>

    </div>
