 @using Ets.Model.DataModel.Authority;
@model ETS.Data.PageData.PageInfo<AccountModel>
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}  

<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：管理员 > 个人账户权限管理
    </h2>
    @using (Ajax.BeginForm("PostAccountManager", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="SearchMd">
            <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
                <tr>
                    <td>
                        <span class="">登陆账号: </span>
                        <input id="loginName" type="text" name="loginName" />
                        <input type="submit" value="查询" class="searchBtn" id="btnSearch" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_AccountManagerList", Model)
    </div>
</div>
<div>
    <div class="add-openbox add-form" id="MenuDiv" style="width:500px">
        <h2>
            <p id="statusFinMenu">菜单权限列表</p>
        </h2>
        <fieldset>
            <input type="hidden" id="hidaid"/>
            @{
                var AllMenu = ViewBag.AllMenu as List<AuthorityMenuModel>;
                if (AllMenu != null && AllMenu.Count > 0)
                {
                    List<AuthorityMenuModel> partMenus = (from m in AllMenu where m.ParId == 0 select m).ToList();
                    foreach (AuthorityMenuModel pMenu in partMenus)
                    {
                        <div class="control-group">
                            <label class="control-label" style="margin-top:8px">@pMenu.MenuName</label>
                            <div class="controls">
                                @{
                                    List<AuthorityMenuModel> childMenus = (from m in AllMenu where m.ParId == pMenu.Id select m).ToList();
                                    if (childMenus!=null && childMenus.Count > 0)
                                    {
                                        foreach(var cMenu in childMenus)
                                        { 
                                            List<AuthorityMenuModel> childButton = (from m in AllMenu where m.ParId == cMenu.Id select m).ToList();
                                            if (childButton!=null && childButton.Count > 0)
                                            {
                                                foreach(var cButton in childButton)
                                                {
                                                    var cid = "chkMenu"+@cButton.Id;
                                                    <input type="checkbox" id="@cid" name="checkMenus" authorityfuncid="@cButton.Id" value="@cButton.Id" /><label style="color: red" for="@cid">@cButton.MenuName</label>
                                                }  
                                            }
                                            var checkid = "chkMenu"+@cMenu.Id;
                                            <input type="checkbox" id="@checkid" name="checkMenus" authorityfuncid="@cMenu.Id" value="@cMenu.Id" /><label for="@checkid">@cMenu.MenuName</label>
                                        }  
                                    }
                                    else
                                    {
                                        var noCheck ="nochekc"+ pMenu.Id;
                                        <input type="checkbox" id="@noCheck"  disabled="disabled"/><label for="@noCheck">没子菜单</label>
                                    }
                                } 
                            </div> 
                        </div> 
                    }
                } 
            }
            
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnMenuConfim" class="yesBtn" />                
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>


<script>
    var adminjs = new adminglass(); //实例化后台类   
    //显示权限菜单
    function showMenu(id, name) {
        $("#statusFinMenu").text("分配:"+name+"的权限"); 
        $("#hidaid").val(id);
        var pars = { "aid": id };
        var url = "/MenuManager/GetMenusByAccount";
        $.ajax({
            type: 'GET',
            url: url,
            data: pars,
            cache: false,
            success: function (result) {
                if (result.IsSuccess) {
                    $("input[name='checkMenus']").each(function () {
                        $(this).removeAttr("checked");
                    }); 
                    if (result.Data != null) { 
                        $.each(result.Data, function (key, val) {
                            $('input[value=' + val + ']').prop("checked", true);
                        }); 
                    } 
                    adminjs.openwinbox('#MenuDiv');
                } else {
                    alert(result.Message);
                }
            }
        }); 
        
    }
    //修改权限
    $("#btnMenuConfim").on('click', function () {
        var ids = "";
        $('input[name="checkMenus"]:checked').each(function () {
            var i = $(this).val();
            ids += i+",";
        });
        var hidId = $("#hidaid").val(); //角色id 
        var pars = { "aid": hidId, "ids": ids };
        var url = "/MenuManager/EditAccountMenus";
        $.ajax({
            type: 'POST',
            url: url,
            data: pars,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("修改成功!");
                    window.location.href = "/MenuManager/AccountManager/";
                } else {
                    alert(result.Message);
                }
            }
        });
    }); 
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
<script src="~/Scripts/mvcpager.js"></script>


