@using System.Web.UI.WebControls.WebParts
@using Ets.Model.DataModel.Authority
@model List<AuthorityMenuModel>
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var partMenu = ViewBag.PartMenu as AuthorityMenuModel;
} 
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：权限 > 按钮设置
    </h2>
    <div class="SearchMd">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <span class="">上级菜单:@partMenu.MenuName </span>
                    <input type="submit" value="新增按钮" class="searchBtn" onclick="showAdd();" id="btnAdd" />
                    <input type="submit" value="返回上一级" class="searchBtn" onclick="window.location = '/MenuManager/Menu/@partMenu.ParId';" />
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
        <thead> 
            <tr class="tdbg">
                <th width="%5">编号</th>
                <th>按钮名称</th>
                <th>上级菜单</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        @{
        if (Model != null)
        { 
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td> 
                    <td>@item.MenuName</td>
                    <td>@partMenu.MenuName</td>
                    <td>
                        <a href="javascript:void(0)" onclick="showUpdate('@item.MenuName',@item.Id)">修改</a>
                    </td> 
                </tr> 
            }
        }
        }
        </tbody> 
    </table>
</div>

@*新增按钮*@
<div>
    <div class="add-openbox add-form" id="addDiv" style="width:500px">
        <h2>
            <p id="statusFin">新增按钮</p>
        </h2>
        <input type="hidden" value="@ViewBag.ParId" id="hidParId"/>
        <fieldset>
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label >按钮名称</label> 
                <input  name="txtName" id="txtName" type="text">
            </div> 
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnConfim" class="yesBtn" />                
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
@*修改按钮*@
<div>
    <div class="add-openbox add-form" id="updateDiv" style="width:500px">
        <h2>
            <p id="statusFin">修改按钮</p>
        </h2>
        <input type="hidden" value="" id="hidId"/>
        <fieldset>
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label >按钮名称</label> 
                <input  name="txtuName" id="txtuName" type="text">
            </div> 
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnUpdateConfim" class="yesBtn" />                
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>

<script>
    var adminjs = new adminglass(); //实例化后台类  
    //新增按钮
    $("#btnConfim").on('click', function () {
        var txtName = $("#txtName").val(); //按钮名称
        var hidParId = $("#hidParId").val();
        if (txtName == "") {
            alert("请输入按钮名称!");
            return;
        } 
        var pars = { "ParId": hidParId, "BeLock": 0, "IsButton": true, "MenuName": txtName, "Url": "" };
        var url = "/MenuManager/AddMenu";
        $.ajax({
            type: 'POST',
            url: url,
            data: pars,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("添加成功!");
                    window.location.href = "/MenuManager/MenuButton?pid=" + hidParId;
                } else {
                    alert(result.Message);
                }
            }
        });
    });

    //修改按钮
    $("#btnUpdateConfim").on('click', function () {
        var txtName = $("#txtuName").val(); //按钮名称
        var hidId = $("#hidId").val(); //按钮id 
        var hidParId = $("#hidParId").val();
        if (txtName == "") {
            alert("请输入按钮名称!");
            return;
        }
        var pars = { "Id": hidId, "ParId": hidParId, "IsButton": true, "MenuName": txtName, "Url": "" };
        var url = "/MenuManager/UpdateMenu";
        $.ajax({
            type: 'POST',
            url: url,
            data: pars,
            success: function (result) {
                if (result.IsSuccess) {
                    alert("修改成功!");
                    window.location.href = "/MenuManager/MenuButton?pid=" + hidParId;
                } else {
                    alert(result.Message);
                }
            }
        });
    });

    function showUpdate(name, id) {
        $("#txtuName").val(name); //按钮名称
        $("#hidId").val(id); //按钮id
        adminjs.openwinbox('#updateDiv');
    }
    function showAdd() {
        adminjs.openwinbox('#addDiv');
    }
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
