@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Finance.ClienterWithdrawFormModel>
@using ETS.Enums
@using ETS.Util;
<script src="~/Scripts/view/orderList.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th><input type="checkbox" id="checkAll" />全选/全消</th>
            <th>编号</th>
            <th>提款单号</th>
            <th>骑士姓名</th>
            <th>电话</th>
            <th>账户余额（提款前）</th>
            <th>可提款金额（提款前）</th>
            <th>提现金额</th>
            <th>状态</th>
            <th>手续费支付方</th>
            <th>手续费用</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            if (Model != null && Model.Records.Count > 0)
            {
                foreach (var item in Model.Records)
                {
                    i++;
                    <tr id="@item.Id">
                        <td>
                            @if (item.Status == (int)ETS.Enums.ClienterWithdrawFormStatus.WaitAllow)
                            {
                                <input type="checkbox" name="checkItem" orderno="@item.WithwardNo" value="@item.Id" />
                            }
                            else
                            {
                                <input type="checkbox" name="checkItem" disabled="disabled" />
                            }
                    </td>

                        <td>@i</td>
                        <td><a href="/ClienterWithdraw/ClienterWithdrawDetail?withwardId=@item.Id" style=" text-decoration-line: underline">@item.WithwardNo</a></td>
                        <td>@item.ClienterName</td>
                        <td>@item.ClienterPhoneNo</td>
                        <td>￥@ParseHelper.ToSplitByPercentile(false, item.BalancePrice)</td>
                        <td>￥@ParseHelper.ToSplitByPercentile(false, item.AllowWithdrawPrice)</td>
                        <td style="color:green;font-weight:600">￥@ParseHelper.ToSplitByPercentile(false, item.Amount)</td>
                        <td>@ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.ClienterWithdrawFormStatus)item.Status).GetType(), (ETS.Enums.ClienterWithdrawFormStatus)item.Status).Text</td>
                        <td>@(item.HandChargeOutlay == HandChargeOutlay.Private ? "骑士" : "E代送")</td>
                        <td>@item.HandCharge</td>
                        <td>@item.WithdrawTime</td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <a href="javascript:funWithdrawAuditOk('@item.Id','@item.WithwardNo')">审核通过</a>
                                <a href="javascript:funWithdrawAuditRefuse(@item.Id,@item.Amount)">拒绝</a>
                                <a href="javascript:void(0)" style="color:gray">确认打款</a>
                                <a href="javascript:void(0)" style="color:gray">打款失败</a>
                            }
                            else if (item.Status == 2)
                            {
                                <a href="javascript:void(0)" style="color:gray">审核通过</a>
                                <a href="javascript:void(0)" style="color:gray">拒绝</a>
                                <a href="javascript:funPayOk(@item.Id,@item.Amount)">确认打款</a>
                                <a href="javascript:funWithdrawPayFailed(@item.Id)">打款失败</a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" style="color:gray">审核通过</a>
                                <a href="javascript:void(0)" style="color:gray">拒绝</a>
                                <a href="javascript:void(0)" style="color:gray">确认打款</a>
                                <a href="javascript:void(0)" style="color:gray">打款失败</a>
                            }

                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@*审核拒绝弹框*@
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="WithdrawAuditRefuseShow" style="width:480px">
        <fieldset>
            <div class="control-group">
                <div style="width:480px;font-size:16px"><center><label id="refusedes"></label></center></div>
                <div class="controls" style="width:480px">
                    <div style="width:75px">拒绝原因:</div>
                    <div style="width:480px">
                        <textarea cols="60" rows="5" id="txtWithdrawAuditRefuse"></textarea>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div><input type="hidden" id="hidWithwardIdAuditRefuse" value="" /></div>
            </div>
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnWithdrawAuditRefuse" class="yesBtn" />
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
@*打款失败弹框*@
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="WithdrawPayFailedShow" style="width:480px">
        <fieldset>
            <div class="control-group">
                <div class="controls" style="width:480px">
                    <div style="width:75px">失败原因:</div>
                    <div style="width:480px">
                        <textarea cols="60" rows="5" id="txtWithdrawPayFailed"></textarea>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div><input type="hidden" id="hidWithwardIdPayFailed" value="" /></div>
            </div>
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnWithdrawPayFailed" class="yesBtn" />
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PostClienterWithdraw";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").change(function () {
            $('input[type="checkbox"][name="checkItem"]').each(function (index, obj) {
                if (!obj.disabled && obj.value != "") {
                    if ($("#checkAll").attr("checked") == "checked") {
                        $(obj).attr("checked", "checked");
                    }
                    else {
                        $(obj).removeAttr("checked");
                    }
                }
            });
        });
    });
    var adminjs = new adminglass(); //实例化后台类
    ///审核通过
    function funWithdrawAuditOk(withwardId,withwardNo) {
        if (!window.confirm("确认要提交审核？")) {
            return;
        }
        var paramaters = {
            "withwardId": withwardId,
            "withwardNo": withwardNo
        };
        var url = "/ClienterWithdraw/WithdrawAuditOk";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/ClienterWithdraw/ClienterWithdraw";
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    //确认打款
    function funPayOk(withwardId,amount) {
        if (!window.confirm("确认打款" + amount+"元？")) {
            return;
        }
        var paramaters = { "withwardId": withwardId };
        var url = "/ClienterWithdraw/WithdrawPayOk";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/ClienterWithdraw/ClienterWithdraw";
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    //审核拒绝弹框
    function funWithdrawAuditRefuse(withwardId, amount) {
        $('#hidWithwardIdAuditRefuse').val(withwardId);
        $('#refusedes').text("是否拒绝打款" + amount + "元？");
        adminjs.openwinbox('#WithdrawAuditRefuseShow');
    }
    //审核拒绝提交
    $("#btnWithdrawAuditRefuse").click(function () {
        if (!window.confirm("确认要审核拒绝？")) {
            return;
        }
        var auditFailedReason=$('#txtWithdrawAuditRefuse').val();
        var withwardId=$('#hidWithwardIdAuditRefuse').val();
        var paramaters = { "withwardId": withwardId,"auditFailedReason":auditFailedReason };
        var url = "/ClienterWithdraw/WithdrawAuditRefuse";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/ClienterWithdraw/ClienterWithdraw";
                } else {
                    alert(result.Message);
                }
            }
        });
    });
    //打款失败弹框
    function funWithdrawPayFailed(withwardId) {
        $('#hidWithwardIdPayFailed').val(withwardId);
        adminjs.openwinbox('#WithdrawPayFailedShow');
    }
    //打款失败提交
    $("#btnWithdrawPayFailed").click(function () {
        if (!window.confirm("确认要提交打款失败操作？")) {
            return;
        }
        var payFailedReason = $('#txtWithdrawPayFailed').val();
        var withwardId = $('#hidWithwardIdPayFailed').val();
        var paramaters = { "withwardId": withwardId, "payFailedReason": payFailedReason };
        var url = "/ClienterWithdraw/WithdrawPayFailed";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    alert(result.Message);
                    window.location.href = "/ClienterWithdraw/ClienterWithdraw";
                } else {
                    alert(result.Message);
                }
            }
        });
    });
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
