@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Common.ExportSqlManage>
@{
    Layout = null;
}
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th style="width:70px;">编码</th>
            <th>名称</th>
            <th>执行时间</th>
            <th>是否启用</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model.Records)
                {
                    <tr id="@item.Id">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Executetime</td>
                        <td>@Html.Raw(item.IsEnable==0?"有效":"无效")</td>
                        <td><a href="#" onclick="Edit(@item.Id);">修改</a>&nbsp;&nbsp;<a href="#"  onclick="deleteModel(@item.Id)">删除</a></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@{ViewBag.ActionName = "PostIndex";}
@{
    if (Model != null) { 
    Html.Partial("~/views/shared/PagerControl.cshtml", Model);
    }
    }
