@model  Ets.Model.DomainModel.Business.BusinessCountManageList      

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">序号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>身份证号</th>
            <th>申请时间</th>
            <th>订单</th>
            <th>订单金额</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            foreach (var item in Model.businessModel)
            {
                i++;
                <tr id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.IDCard</td>
                    <td>@item.InsertTime</td>
                    <td>@item.OrderCount</td>
                    <td style="color:red;font-weight:600">@item.OrderAmountCount</td>
                    @{
                        var statusView = "";
                        if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_AUDITPASS)
                        {
                            statusView = "审核通过";
                        }

                        else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_AUDITPASSING)
                        {
                            statusView = "审核中";
                        }
                        else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_NOADDRESS)
                        {
                            statusView = "未审核且未添加地址";
                        }
                        else if (@item.Status == Ets.Model.Common.ConstValues.BUSINESS_NOAUDIT)
                        {
                            statusView = "未审核";
                        }
                    }
                    <td>@statusView</td>
                    <td>
                        @{
                            if (@item.Status == 1)
                            {
                                <a href="javascript:void(0)" style="color:gray" businessid="@item.Id" class="businessOk">审核通过</a>
                                <a href="javascript:void(0)" businessid="@item.Id" class="businessCel">取消资格</a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" businessid="@item.Id" class="businessOk">审核通过</a>
                                <a href="javascript:void(0)" style="color:gray"  businessid="@item.Id" class="businessCel">取消资格</a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
@Html.Partial("_Pager", Model.PagingResult)

<script type="text/javascript">
    var currentId;
    $(document).ready(function () {
        $(".businessOk").bind("click", function () {
            currentId = $(this).attr("businessId");
            var paramaters = { "id": currentId };
            var url = "/BusinessManager/AuditOK";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/BusinessManager/BusinessManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
        $(".businessCel").bind("click", function () {
            currentId = $(this).attr("businessId");
            var paramaters = { "id": currentId };
            var url = "/BusinessManager/AuditCel";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/BusinessManager/BusinessManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
    });
</script>
