@model Ets.Model.Common.ClienterCountManageList
@using Webdiyer.WebControls.Mvc;
    <table width="50%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
        <thead>
            <tr class="tdbg">
                <th width="%5">序号</th>
                <th>姓名</th>
                <th>任务</th>
                <th>帐户余额</th>
            </tr>
        </thead>
        <tbody>
            @{
                var j = 0;
                foreach (var item in Model.clienterViewModel)
                {
                    j++;
                    <tr>
                        <td>@j</td>
                        <td>@item.Name</td>
                        <td>@item.OrderCount</td>
                        <td>@item.AccountBalance</td>
                    </tr>
                }
            }
        </tbody>
    </table>
@Html.Partial("_NewPager", Model.PagingResult)
