@using ETS.Util;
<table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="900">
    <thead>
        <tr class="tdbg">
            <th>交易类型</th>
            <th>任务单号/交易流水号</th>
            <th>收支金额</th>
            <th>余额</th>
            <th>状态</th>
            <th>时间</th>
            <th>操作人</th>
    </thead>
    <tbody>
        @{
            var clienterBalanceRecordList = ViewBag.clienterBalanceRecord as List<Ets.Model.DataModel.Finance.ClienterBalanceRecord>;
            if (clienterBalanceRecordList != null && clienterBalanceRecordList.Count > 0)
            {
                var i = 0;
                var recordTypeDes = "";
                foreach (var item in clienterBalanceRecordList)
                {
                    if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.Commission.GetHashCode())
                    {
                        recordTypeDes = "佣金";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.Award.GetHashCode())
                    {
                        recordTypeDes = "奖励";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.Withdraw.GetHashCode())
                    {
                        recordTypeDes = "提现";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.QuXiaoOrder.GetHashCode())
                    {
                        recordTypeDes = "取消订单赔偿";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.WuXiaoOrder.GetHashCode())
                    {
                        recordTypeDes = "无效订单扣款";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.Return.GetHashCode())
                    {
                        recordTypeDes = "提现失败返现";
                    }
                    else if (item.RecordType == ETS.Enums.ClienterBalanceRecordRecordType.CancleOrderReturn.GetHashCode())
                    {
                        recordTypeDes = "取消订单扣款";
                    }
                    i++;
                    <tr id="@item.Id">
                        <td>@recordTypeDes</td>
                        <td>
                            @if (item.RecordType == 3 || item.RecordType == 6 )
                            {
                                <a href="javascript:funLookDetail(@item.WithwardId)">@item.RelationNo</a>

                            }
                            else
                            {
                                <a href="/Order/OrderDetail?OrderNo=@item.RelationNo&OrderId=@item.WithwardId ">@item.RelationNo</a>
                            }
                        </td>
                        <td>@item.Amount</td>
                        <td>@item.Balance</td>
                        <td>@(item.Status == ETS.Enums.ClienterBalanceRecordStatus.Success.GetHashCode() ? "交易成功" : "交易中")</td>
                        <td>@item.OperateTime</td>
                        <td>@item.Operator</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@*查看申请单详情*@
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="WithdrawDetailShow" style="width:480px">
        <fieldset>
            <div style="font-size:18px;"><center><b>骑士提款详情</b></center></div>
        </fieldset>
        <fieldset style="border-top:hidden">
            <table border="0" cellspacing="0" cellpadding="0" style="font-size:16px;width:450px">
                <tr>
                    <td><span class="">提现日期: <label id="labWithdrawTime"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">提现状态: <label id="labWithdrawStatus"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">交易流水号: <label id="labWithdrawNo"></label></span> </td>
                </tr>
                <tr>
                    <td><span class="">提现金额: <label id="labAmount"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">提款骑士: <label id="labClienterName"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">骑士电话: <label id="labClienterPhoneNo"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">开户银行: <label id="labClienterOpenBank"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">开户支行: <label id="labClienterOpenSubBank"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">账户名: <label id="labAccountName"></label></span></td>
                </tr>
                <tr>
                    <td><span class="">银行卡号: <label id="labAccountNo"></label></span></td>
                </tr>
            </table>
        </fieldset>
        <p class="btnbox">
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    //查看提款单详情弹框
    function funLookDetail(withwardId) {
        funGetClienterWithdrawForm(withwardId);
        adminjs.openwinbox('#WithdrawDetailShow');
    }
    //查看提款单详情
    function funGetClienterWithdrawForm(withwardId) {

        var paramaters = { "withwardId": withwardId };
        var url = "/ClienterWithdraw/GetClienterWithdrawForm";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result != null) {
                    var jsonstr = $.parseJSON(result);
                    var withdrawTime = jsonstr.WithdrawTime.replace("T", " ");
                    var strstatus = "";
                    if (jsonstr.Status == 1) {
                        strstatus = "待审核";
                    }
                    else if (jsonstr.Status == 2) {
                        strstatus = "审核通过";
                    }
                    else if (jsonstr.Status == 3) {
                        strstatus = "打款完成";
                    }
                    else if (jsonstr.Status == -1) {
                        strstatus = "审核拒绝";
                    }
                    else if (jsonstr.Status == -2) {
                        strstatus = "打款失败";
                    }
                    $('#labWithdrawTime').text(withdrawTime);
                    $('#labWithdrawStatus').text(strstatus);
                    $('#labWithdrawNo').text(jsonstr.WithwardNo);
                    $('#labAmount').text(jsonstr.Amount);
                    $('#labClienterName').text(jsonstr.ClienterName);
                    $('#labClienterPhoneNo').text(jsonstr.ClienterPhoneNo);
                    $('#labClienterOpenBank').text(jsonstr.OpenBank);
                    $('#labClienterOpenSubBank').text(jsonstr.OpenSubBank);
                    $('#labAccountName').text(jsonstr.TrueName);
                    $('#labAccountNo').text(jsonstr.AccountNo);
                }
            }
        });
    }
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>

