@model SuperManCommonModel.Models.ClienterManageList
@using SuperManBusinessLogic.Group_Logic
          
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">序号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>身份证号</th>
            <th>照片</th>
            <th>申请时间</th>
            <th>帐户余额</th>
            <th>集团名称</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            var puth = SuperManCore.CustomerIconUploader.Instance.RelativePath;
            var PicHost = SuperManCore.CustomerIconUploader.Instance.PicHost;
            foreach (var item in Model.clienterModel)
            {
                i++;
                <tr id="@item.Id">
                    <td>@i</td>
                    <td>@item.TrueName</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.IDCard</td>
                    <td>
                        <a href="javascript:void(0)" class="businessOk" onclick="funcPicView('@String.Format("{0}{1}",PicHost,puth)','@item.PicWithHandUrl','@item.PicUrl')">查看</a>
                    </td>
                    <td>@item.InsertTime</td>
                    <td style="color:red;font-weight:600">@item.AccountBalance</td>
                    <td>
                @if (item.GroupId != null) //当前商户有集团信息
                {
                 @Html.Raw(  GroupLogic.groupLogic().GetGroupName(Convert.ToInt32(item.GroupId)))
                }
                    </td>
                    @{
                var statusView = "";
                if (@item.Status == SuperManCommonModel.ConstValues.CLIENTER_AUDITPASS)
                {
                    statusView = "审核通过";
                }

                else if (@item.Status == SuperManCommonModel.ConstValues.CLIENTER_AUDITCANCEL)
                {
                    statusView = "审核被拒绝";
                }
                else if (@item.Status == SuperManCommonModel.ConstValues.CLIENTER_AUDITPASSING)
                {
                    statusView = "审核中";
                }
                else if (@item.Status == SuperManCommonModel.ConstValues.CLIENTER_NOAUDIT)
                {
                    statusView = "未审核";
                }
                    }
                    <td>@statusView</td>
                    <td>
                        @{
                if (@item.Status == 1)
                {
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.SuperAudit))
                    {
                        <a href="javascript:void(0)" style="color:gray" supermanid="@item.Id" class="superManOk">审核通过</a>
                            <a href="javascript:void(0)" supermanid="@item.Id" class="superManCel">取消资格</a>
                    }
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.SuperClear))
                    {
                        <a href="javascript:void(0)" amount="@item.AccountBalance" supermanid="@item.Id" class="superManClear">余额清零</a>
                    }
                    <a href="javascript:void(0)" orderid=@item.Id businessname=@item.TrueName id="linkView" onclick="funcViewSuperManInfo('@item.Id','@item.TrueName','@item.PhoneNo','@item.PicWithHandUrl','@item.PicUrl','@item.HealthCardID','@item.ProvinceCode','@item.CityId','@item.BussinessID','@item.InternalDepart','@item.IDCard','@item.Password')">修改</a>
                }
                else
                {
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.SuperAudit))
                    {
                        <a href="javascript:void(0)" supermanid="@item.Id" class="superManOk">审核通过</a>
                            <a href="javascript:void(0)" style="color:gray" supermanid="@item.Id" class="superManCel">取消资格</a>
                    }
                    if (SuperMan.App_Start.UserContext.Current.HasAuthority(AuthorityNames.SuperClear))
                    {
                        <a href="javascript:void(0)" amount="@item.AccountBalance" supermanid="@item.Id" class="superManClear">余额清零</a>
                    } 
                    <a href="javascript:void(0)" orderid=@item.Id businessname=@item.TrueName id="linkView" onclick="funcViewSuperManInfo('@item.Id','@item.TrueName','@item.PhoneNo','@item.PicWithHandUrl','@item.PicUrl','@item.HealthCardID','@item.ProvinceCode','@item.CityId','@item.BussinessID','@item.InternalDepart','@item.IDCard','@item.Password')">修改</a>
                }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
@Html.Partial("_Pager", Model._PagingResult)
@*弹出图片*@
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="ClientPicShow" style="width:500px">
        <p id="statusFin"><h2>查看图片</h2></p>
        <form class="form-horizontal" role="form" id="BusiPicForm" method="post">
            <fieldset>
                <img width="160" height="160" id="showPicHandWithUrl" /><img width="160" height="160" id="showPicUrl" />
            </fieldset>
            <p class="btnbox">
                <input value="关闭" type="button" class="J_closebox qxBtn" />
            </p>
        </form>
    </div>
</div>
<div class="add-openbox zpsh-openw" id="Close_Clearbox">
    <h2>余额清零</h2>
    <p class="textinfo">确定要清除此超人的余额吗? 清除后不可恢复!</p>
    <p class="btnbox">
        <input value="清除" type="button" class="yesBtn" id="btnClear" />
        <input value="取消" type="button" class="J_closebox qxBtn" />
    </p>
</div>
<script type="text/javascript">
    var currentId;
    var amount;
    $(document).ready(function () {
        $(".superManOk").bind("click", function () {
            currentId = $(this).attr("supermanid");
            var paramaters = { "id": currentId };
            var url = "/SuperManManager/AuditOK";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/SuperManManager/SuperManManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
        $(".superManCel").bind("click", function () {
            currentId = $(this).attr("supermanid");
            var paramaters = { "id": currentId };
            var url = "/SuperManManager/AuditCel";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/SuperManManager/SuperManManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
        //余额清零
        $(".superManClear").bind("click", function () {
            currentId = $(this).attr("supermanid");
            amount = $(this).attr("amount");
            if (amount == 0)
                return false;
            adminjs.openwinbox('#Close_Clearbox');
        });

        $("#btnClear").click(function () {
            var paramaters = { "id": currentId };
            var url = "/SuperManManager/AmountClear";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/SuperManManager/SuperManManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
    });
    function funcPicView(puth, PicWithHandUrl,PicUrl) { 
        $('#showPicHandWithUrl').attr('src', puth + '/' + PicWithHandUrl);
        $('#showPicUrl').attr('src', puth + '/' + PicUrl); 
        adminjs.openwinbox('#ClientPicShow');
    }

    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
    var cityID ;
    var bID;
    function funcViewSuperManInfo(id, trueName, phoneNo, picWithHandUrl, picUrl, healthCardID, provinceCode, cityCode, bussinessID, internalDepart, iDCard, password) {
        $("#SupId").val(id).attr('disabled', 'disabled');
        $("#SupName").val(trueName);
        $("#SupPhoneNo").val(phoneNo);
        $("#SupHealthCardID").val(healthCardID);
        $("#SupInternalDepart").val(internalDepart);
        $("#SupIDCard").val(iDCard);
        $("#SupProvinceCode").val(provinceCode);
        $("#SupProvinceCode").change();
        cityID = cityCode;
        bID = bussinessID;
        adminjs.openwinbox('#UpdateSuperManShow');
    };
</script>
