@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Clienter.ClienterListModel>
@using Ets.Service.Provider.Clienter
@using Ets.Service.Provider.Common
@using ETS.Util
@using Webdiyer.WebControls.Mvc
@using ETS.Enums;

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>

        <tr class="tdbg">
            <th width="%5">编号</th>
            <th>姓名</th>
            <th>工作状态</th>
            <th>电话</th>
            <th>身份证号</th>
            <th>照片</th>
            <th>申请时间</th>
            <th>帐户余额</th>
            <th>可提现余额</th>
            <th>集团名称</th>
            <th>物流公司名称</th>
            <th>审核状态</th>
            <th>推荐人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Records.Count > 0)
            {
                var i = 0;
                var puth = Ets.Model.ParameterModel.Clienter.CustomerIconUploader.Instance.RelativePath
                    + "/" + ConfigSettings.Instance.FileUploadFolderNameClienter;
                var PicHost = Ets.Model.ParameterModel.Clienter.CustomerIconUploader.Instance.PicHost;
                foreach (var item in Model.Records)
                {
                    i++;
                    <tr id="@item.Id">
                        <td>@item.Id</td>
                        <td>@item.TrueName</td>
                        <td>
                            @if (@item.WorkStatus == 0)
                            {
                                @Html.Raw("上班")
                            }
                            else if (@item.WorkStatus == 1)
                            {
                                @Html.Raw("下班")
                            }
                        </td>
                        <td>@item.PhoneNo</td>
                        <td>@item.IDCard</td>
                        <td>
                            <a href="javascript:void(0)" class="businessOk" onclick="funcPicView('@String.Format("{0}{1}",PicHost,puth)','@item.PicWithHandUrl','@item.PicUrl')">查看</a>
                        </td>
                        <td>@item.InsertTime</td>
                        <td style="color:red;font-weight:600"><a href="/SuperManManager/ClienterDetail?clienterId=@item.Id ">￥@ParseHelper.ToSplitByPercentile(false, item.AccountBalance)</a></td>
                        <td>￥@ParseHelper.ToSplitByPercentile(false, item.AllowWithdrawPrice)</td>
                        <td>
                            @if (item.GroupId != null) //当前商户有集团信息
                            {
                                @Html.Raw(new GroupProvider().GetGroupName(Convert.ToInt32(item.GroupId)))
                            }
                        </td>
                        <td>@item.CompanyName</td>
                        @{
                            var statusView = "";
                            if (@item.Status == ClienteStatus.Status1.GetHashCode())
                            {
                                statusView = "审核通过";
                            }

                            else if (@item.Status ==ClienteStatus.Status0.GetHashCode())
                            {
                                statusView = "审核被拒绝";
                            }
                            else if (@item.Status == ClienteStatus.Status3.GetHashCode())
                            {
                                statusView = "审核中";
                            }
                            else if (@item.Status == ClienteStatus.Status2.GetHashCode())
                            {
                                statusView = "未审核";
                            }
                        }
                        <td>@statusView</td>
                        @{
                            var recomname = "";
                            if (string.IsNullOrEmpty(item.recommendPhone))
                            {
                                recomname = "无推荐人";
                            }
                            var reslut = new ClienterProvider().GetUserInfoByUserPhoneNo(item.recommendPhone);
                            if (reslut != null)
                            {
                                recomname = reslut.TrueName + "/" + reslut.PhoneNo;
                            }
                        }
                        <td>
                            @recomname
                        </td>

                        <td>
                            @{
                            int idCard = string.IsNullOrEmpty(item.IDCard) ? 0 : 1;
                            int picUrl = string.IsNullOrEmpty(item.PicUrl) ? 0 : 1;
                            int picWithHandUrl = string.IsNullOrEmpty(item.PicWithHandUrl) ? 0 : 1;
                            int trueName = string.IsNullOrEmpty(item.TrueName) ? 0 : 1;
                            if (@item.Status == 1)
                            {

                                if (SuperMan.App_Start.UserContext.Current.HasAuthority(18) || SuperMan.App_Start.UserContext.Current.HasAuthority(19))
                                {
                                    <a href="javascript:void(0)" style="color:gray" supermanid="@item.Id" class="superManOk" onclick="clientOk(@item.Id,@idCard,@trueName,@picUrl,@picWithHandUrl)">审核通过</a>
                                    <a href="javascript:void(0)" supermanid="@item.Id" class="superManCel">审核拒绝</a>
                                }
                                @*if (SuperMan.App_Start.UserContext.Current.HasAuthority(20))
                                    {
                                        <a href="javascript:void(0)" amount="@item.AccountBalance" supermanid="@item.Id" class="superManClear">提现</a>
                                    }*@
                            }
                            else
                            {
                                if (SuperMan.App_Start.UserContext.Current.HasAuthority(18) || SuperMan.App_Start.UserContext.Current.HasAuthority(19))
                                {
                                    <a href="javascript:void(0)" supermanid="@item.Id" class="superManOk" onclick="clientOk(@item.Id,@idCard,@trueName,@picUrl,@picWithHandUrl)">审核通过</a>
                                    <a href="javascript:void(0)" style="color:gray" supermanid="@item.Id" class="superManCel">审核拒绝</a>
                                }
                                @*if (SuperMan.App_Start.UserContext.Current.HasAuthority(20))
                                    {
                                        <a href="javascript:void(0)" amount="@item.AccountBalance" supermanid="@item.Id" class="superManClear">提现</a>
                                    }*@
                            }
                            }

                            @if (SuperMan.App_Start.UserContext.Current.HasAuthority(51))
                            {
                                <a href="javascript:void(0)" onclick="funcClienterRecharge(@item.Id,'@item.TrueName', '@item.PhoneNo')">余额变更</a>
                            }
                            <a href="/SuperManManager/GetRelationByClienterId?ClienterId=@item.Id&Name=@item.TrueName&Phone=@item.PhoneNo">查看绑定商家</a>
                            @if (SuperMan.App_Start.UserContext.Current.HasAuthority(62))
                            {
                                <a href="/SuperManManager/QueryClienterDetail?clienterId=@item.Id">修改信息</a>
                            }
                            
                        </td>
                    </tr>
                }
            }

        }
    </tbody>

</table>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PostSuperManManager";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}

@*弹出图片*@
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="ClientPicShow" style="width:500px">
        <p id="statusFin"><h2>查看图片</h2></p>
        <form class="form-horizontal" role="form" id="BusiPicForm" method="post">
            <fieldset>
                <img width="160" height="160" id="showPicHandWithUrl" />
                <a id="showBigPicHWU" href="" target="_blank">查看大图</a>
                <img width="160" height="160" id="showPicUrl" />
                <a id="showBigPicUrl" href="" target="_blank">查看大图</a>
            </fieldset>
            <p class="btnbox">
                <input value="关闭" type="button" class="J_closebox qxBtn" />
            </p>
        </form>
    </div>
</div>
<div class="add-openbox zpsh-openw" id="Close_Clearbox">
    <h2>余额清零</h2>
    <p class="textinfo">确定要清除此骑士的余额吗? 清除后不可恢复!</p>
    <p class="btnbox">
        <input value="清除" type="button" class="yesBtn" id="btnClear" />
        <input value="取消" type="button" class="J_closebox qxBtn" />
    </p>
</div>
<script type="text/javascript">
    var currentId;
    var amount;
    $(document).ready(function () {
        //$(".superManOk").bind("click", function () {
        //    currentId = $(this).attr("supermanid");
        //    var paramaters = { "id": currentId };
        //    var url = "/SuperManManager/AuditOK";
        //    $.ajax({
        //        type: 'POST',
        //        url: url,
        //        data: paramaters,
        //        success: function (result) {
        //            if (result.IsSuccess) {
        //                window.location.href = "/SuperManManager/SuperManManager";
        //            } else {
        //                alert(result.Message);
        //            }
        //        }
        //    });
        //});
        $(".superManCel").bind("click", function () {
            currentId = $(this).attr("supermanid");
            var paramaters = { "id": currentId };
            var url = "/SuperManManager/AuditCel";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/SuperManManager/SuperManManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
        //余额清零
        $(".superManClear").bind("click", function () {
            currentId = $(this).attr("supermanid");
            //amount = $(this).attr("amount");
            //if (amount == 0)
            //    return false;
            //adminjs.openwinbox('#Close_Clearbox');
            window.location.href = "/SuperManManager/WtihdrawRecords?UserId=" + currentId;
        });

        $("#btnClear").click(function () {
            var paramaters = { "id": currentId };
            var url = "/SuperManManager/AmountClear";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        window.location.href = "/SuperManManager/SuperManManager";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        });
    });
    function clientOk(clientId, idCard, trueName, picUrl, picWithHandUrl) {
        if (!window.confirm("是否审核通过？")) {
            return;
        }
        if (idCard == 0 || trueName == 0 || picUrl == 0 || picWithHandUrl == 0) {
            alert("该骑士未上传个人资料，不能通过审核。")
            return;
        }
        var paramaters = { "id": clientId };
        var url = "/SuperManManager/AuditOK";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    window.location.href = "/SuperManManager/SuperManManager";
                } else {
                    alert(result.Message);
                }
            }
        });
    }
    function funcPicView(puth, PicWithHandUrl, PicUrl) {
  
        $('#showPicHandWithUrl').attr('src', puth + PicWithHandUrl);
        $('#showPicUrl').attr('src', puth + PicUrl);

        var originSize = '_0_0';

        //var handLastDot = PicWithHandUrl.lastIndexOf('.');
        //var handHouZhui = PicWithHandUrl.substr(handLastDot, PicWithHandUrl.length - handLastDot);
        //var bigHandName = PicWithHandUrl.substring(0, handLastDot) + originSize + handHouZhui;

        $('#showBigPicHWU').attr('href', puth + BigPicName(PicWithHandUrl, originSize));

        //var fileLastDot = PicUrl.lastIndexOf('.');
        //var fileHandHouZhui = PicUrl.substr(fileLastDot, PicUrl.length - fileLastDot);
        //var bigFileName = PicUrl.substring(0, fileLastDot) + originSize + fileHandHouZhui;

        $('#showBigPicUrl').attr('href', puth + BigPicName(PicUrl, originSize));
        adminjs.openwinbox('#ClientPicShow');
        if (PicWithHandUrl.length == 0) {
            $('#showBigPicHWU').hide();
        } else {
            $('#showBigPicHWU').show();
        }
        if (PicUrl.length == 0) {
            $('#showBigPicUrl').hide();
        } else {
            $('#showBigPicUrl').show();
        }
    }

    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });


    function BigPicName(picFileName, fileSize) {
        var lastDot = picFileName.lastIndexOf('.');
        var houzhui = picFileName.substr(lastDot, picFileName.length - lastDot);
        var bigPicName = picFileName.substring(0, lastDot) + fileSize + houzhui;
        return bigPicName;
    }

    //骑士余额变更
    function funcClienterRecharge(id, name, phone) {
        $('#clienterId').val(0);
        $('#clienterName').val('');
        $('#clienterPhone').val('');
        $('#clienterRechargeAmount').val('');
        $('#rechargeLog').val('');
        $('#clienterId').val(id);
        $('#clienterName').val(name);
        $('#clienterPhone').val(phone);
        adminjs.openwinbox('#ClienterRechargeShow');
    }
</script>
