@using ETS.Util
@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Statistics.RecommendDetailDataModel>
@{
    int DataType = ViewBag.DataType;
}
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        @{
            if (DataType == 1)
            {
                <tr class="tdbg">
                    <th width="%5">被推荐商户名称</th>
                    <th>注册手机号</th>
                    <th>商户地址</th>
                    <th>注册时间</th>
                    <th>发布任务量</th>
                    <th>发布订单量</th>
                </tr>
            }
            else if (DataType == 2)
            {
                <tr class="tdbg">
                    <th width="%5">被推荐骑士</th>
                    <th>注册手机号</th>
                    <th>注册时间</th>
                    <th>完成任务量</th>
                    <th>完成单量</th>
                </tr>
            }
        }

    </thead>
    <tbody>
        @{
            if (Model != null && Model.Records.Count > 0)
            {
                var i = 0;
                foreach (var item in Model.Records)
                {
                    if (DataType == 1)
                    {
                        <tr>
                            <td>
                               @item.BusName
                            </td>
                            <td>
                                @item.PhoneNo
                            </td>
                            <td>
                                @item.BusAddress
                            </td>
                            <td>
                                @item.RegDateTime
                            </td>
                            <td>
                                @item.TaskCount
                            </td>
                            <td>
                                @item.OrderCount
                            </td>
                        </tr>
                    }
                    else if (DataType == 2)
                    {
                        <tr>
                            <td>
                                @item.CliName
                            </td>
                            <td>
                                @item.PhoneNo
                            </td>
                            <td>
                                @item.RegDateTime
                            </td>
                            <td>
                                @item.TaskCount
                            </td>
                            <td>
                                @item.OrderCount
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PsotRecommendList";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}

<script type="text/javascript">

</script>

