@using Ets.Model.DomainModel.Statistics
@{
    ViewBag.Title = "客户端App启动热力图";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";


    IList<AppActiveInfo> lstAppActiveInfo = (IList<AppActiveInfo>)ViewBag.LstAppActiveInfo;
}
@section styles{
    <style type="text/css">
        .none {
            display: none;
        }
    </style>
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：数据统计 > 客户端App启动热力图
    </h2>
    <div class="SearchMd" style="width:1000px">
        <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
            <tr>
                <td>
                    <span class="">客户类型: </span>
                    <select name="userType" id="userType">
                        <option value="0">全部</option>
                        <option value="1">商家</option>
                        <option value="2">骑士</option>
                    </select>
                    <span class="">城市筛选: </span>
                    <select name="cityName" id="cityName">
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">重庆</option>
                    </select>
                    <input type="button" value="查询" class="searchBtn" id="btnSearch" />
                </td>
            </tr>
        </table>
        <hr />
        <!--地图-->
        <div class="add-openbox add-form" id="orderMapShow" style="width: 60%;height:80%">
            <div id="map_contain"></div>
        </div>
        <hr />
        <h4 style="color:black;font-weight:600">地图数据列表</h4>
        <div class="bd clearfix" id="dataList">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
                <thead>
                    <tr class="tdbg">
                        <th width="%5">编号</th>
                        <th class="J_City none">用户类型</th>
                        <th>名称</th>
                        <th>注册电话</th>
                        <th>客户类型</th>
                    </tr>
                </thead>
                <tbody id="tbodyTimeSpan">
                    @{
                        var count = 1;
                        foreach (var activeInfo in lstAppActiveInfo)
                        {
                            var userTypeStr = activeInfo.UserType == 1 ? "商家" : "骑士";
                            <tr>
                                <td>@count</td>
                                <td>@activeInfo.UserType</td>
                                <td>@userTypeStr</td>
                                <td>@activeInfo.TrueName</td>
                                <td>@activeInfo.Phone</td>
                                <td>@activeInfo.Platform</td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    //加载地图数据
    $(function() {
        
    });

    //查询数据
    $("#btnSearch").click(function() {
        
    });
</script>
