@using Ets.Model.DomainModel.Statistics
@{
    ViewBag.Title = "接单配送时长";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

    DateTime startDate = (DateTime)ViewBag.StartDate;
    DateTime endDate = (DateTime)ViewBag.EndDate;

    IList<JieDanTimeInfo> lstJieDanTimes = (IList<JieDanTimeInfo>)ViewBag.LstJieDanTimes;
}

@section styles{
    <style type="text/css">
        .none {
            display: none;
        }
    </style>
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：数据统计 > 接单配送时长
    </h2>
    <div class="SearchMd" style="width:1000px">
        <h4 style="color:black;font-weight:600">每天接单配送时长</h4>
        <table border="0" cellspacing="0" cellpadding="0" style="width:1080px">
            <tr>
                <td>
                    <span class="">发布时间: </span>
                    <input id="txtOrderPubStart" readonly="readonly" type="text" name="OrderPubStart" value="@startDate.ToString("yyyy-MM-dd")" />
                    <span class="">到: </span>
                    <input id="txtOrderPubEnd" readonly="readonly" type="text" name="OrderPubEnd" value="@endDate.ToString("yyyy-MM-dd")" />
                    @*<input id="chkCity" name="chkCity" type="checkbox" />*@<label for="chkCity">按城市统计</label>
                    <input type="submit" value="查询" class="searchBtn" id="btnSearch" />
                </td>
            </tr>
        </table>
        <hr />
        @*}*@
        @*<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
        <div class="bd clearfix" id="dataList">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
                <thead>
                    <tr class="tdbg">
                        <th width="%5">日期</th>
                        <th>任务数量</th>
                        <th>总骑士数量</th>
                        <th>日人均任务量</th>
                        <th>活跃骑士数量</th>
                        <th>日在线人均任务量</th>
                        <th>发单-接单总时长（秒）</th>
                        <th>日均接单时长(分钟)</th>
                        <th>发单-完成总时长（秒）</th>
                        <th>日均配送时长(分钟)</th>
                    </tr>
                </thead>
                <tbody id="tbodyTimeSpan">
                    @{
                        if (lstJieDanTimes != null)
                        {
                            foreach (var jieDanItem in lstJieDanTimes)
                            {
                                <tr>
                                    <td>@jieDanItem.Date</td>
                                    <td>@jieDanItem.TaskCount</td>
                                    <td>@jieDanItem.ClienterCount</td>
                                    <td>@jieDanItem.AvgClienterCount</td>
                                    <td>@jieDanItem.ActiveClienterCount</td>
                                    <td>@jieDanItem.AvgActiveClienterCount</td>
                                    <td>@jieDanItem.PubReciveTotalSeconds</td>
                                    <td>@jieDanItem.AvgPubReceiveMinutes</td>
                                    <td>@jieDanItem.PubCompleteTotalSeconds</td>
                                    <td>@jieDanItem.AvgPubCompleteMinutes</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    @*<script type="text/javascript" src="~/Scripts/jquery.loadmask.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(function() {
            $(document).ready(function() {
                $('#txtOrderPubStart').datepicker();
                $('#txtOrderPubEnd').datepicker();

                $("#btnSearch").bind("click", function() {
                    search();
                });
            });
        });

        function search() {
            var startDate = $("#txtOrderPubStart").val();
            var endDate = $("#txtOrderPubEnd").val();
            if (startDate == "" || endDate == "") {
                alert("请输入时间段。");
                return;
            }

            var params = {
                StartDate: startDate,
                EndDate: endDate,
            };

            $.ajax({
                url: "/api/tongji/jiedantime",
                type: "post",
                data: params,
                dataType: "json",
                success: function(data) {
                    if (!data.IsSuccess) {
                        alert("查询错误：" + data.Message);
                        return;
                    }
                    $("#tbodyTimeSpan").html("");

                    if (data.Data != null) {
                        for (var i = 0; i < data.Data.length; i++) {
                            var item = data.Data[i];
                            var $tr = $("<tr><td>{0}</td><td>{1}</td></tr>".format(item.Date, item.TaskCount));
                            $("<td>{0}</td>".format(item.ClienterCount)).appendTo($tr);
                            $("<td>{0}</td>".format(item.AvgClienterCount)).appendTo($tr);
                            $("<td>{0}</td>".format(item.ActiveClienterCount)).appendTo($tr);
                            $("<td>{0}</td>".format(item.AvgActiveClienterCount)).appendTo($tr);
                            $("<td>{0}</td>".format(item.PubReciveTotalSeconds)).appendTo($tr);
                            $("<td>{0}</td>".format(item.AvgPubReceiveMinutes)).appendTo($tr);
                            $("<td>{0}</td>".format(item.PubCompleteTotalSeconds)).appendTo($tr);
                            $("<td>{0}</td>".format(item.AvgPubCompleteMinutes)).appendTo($tr);

                            $tr.appendTo($("#tbodyTimeSpan"));
                        }
                    }
                },
                beforeSend: function(xhr) {
                    $.blockUI();
                },
                complete: function(XMLHttpRequest, textStatus) {
                    //this; // 调用本次AJAX请求时传递的options参数
                    $.unblockUI();
                }
            });
        }
    </script>
}
