@using ETS.Util
@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Statistics.RecommendDataModel>
@{int DataType=ViewBag.DataType}
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        @{
            if (DataType == 1)
            {
                <tr class="tdbg">
                    <th width="%5">推荐人手机号</th>
                    <th>推荐商铺数量</th>
                    <th>商铺发布任务量</th>
                    <th>商铺发布单量</th>
                </tr>
            }
            else if(DataType == 2)
            {
                <tr class="tdbg">
                    <th width="%5">推荐人手机号</th>
                    <th>推荐人姓名</th>
                    <th>推荐骑士总数</th>
                    <th>完成任务量</th>
                    <th>完成单量</th>
                </tr>
            }
}
      
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Records.Count > 0)
            {
                var i = 0;
                foreach (var item in Model.Records)
                {
                    if (DataType == 1)
                    {
                        <tr >
                            <td>
                                @item.RecommendPhone
                            </td>
                            <td>
                                @item.BusCount
                            </td>
                            <td>
                                @item.TaskCount
                            </td>
                            <td>
                                @item.OrderCount
                            </td>
                        </tr>
                    }else if (DataType == 2)
                    {
                        <tr>
                            <td>
                                @item.PhoneNo
                            </td>
                            <td>
                                @item.TrueName
                            </td>
                            <td>
                                @item.ClienterCount
                            </td>
                            <td>
                                @item.TaskCount
                            </td>
                            <td>
                                @item.OrderCount
                            </td>
                        </tr>
                    }
                }
            }
}
    </tbody>
</table>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PostRecommendStatistical";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}

<script type="text/javascript">
   
</script>
