@using Webdiyer.WebControls.Mvc;
@using ETS.Util
@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Statistics.RecommendDataModel>
@{
    ViewBag.Title = "推荐统计详情";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    string PhoneNum = (string) ViewBag.PhoneNum;
    string TrueName = (string)ViewBag.TrueName;
    int DataType = (int)ViewBag.DataType;
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="~/Scripts/mvcpager.js"></script>
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：数据统计 > 推荐统计> 推荐详情
    </h2>
    @using (Ajax.BeginForm("PsotRecommendList", new RouteValueDictionary { { "pageindex", "" } },
    new AjaxOptions { UpdateTargetId = "dataList", InsertionMode = InsertionMode.Replace },
    new RouteValueDictionary { { "id", "searchForm" } }))
    {
        <div class="SearchMd" style="width:1000px">
            <h4 style="color:black;font-weight:600">推荐详情</h4>
            <span>推荐人信息：@PhoneNum @TrueName</span><br/>
            <span>发单日期:</span>
            <input id="startDate" name="StartDate" style="width:143px" value="@(new DateTime(DateTime.Now.Year,DateTime.Now.Month,1).ToString("yyyy-MM-dd"))" />
            <span>到</span>
            <input id="endDate" name="EndDate" style="width:143px" />
            <span>@(DataType==1?"商家注册手机号":"骑士注册手机号"):</span><input type="text" id="businessPhoneNum" name="BusinessPhoneNum" />
            <input value="查询" class="searchBtn" type="submit" id="btnSearch">
            <input value="@DataType" type="hidden" name="DataType">
            <br />
        </div>

    }
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <div class="bd clearfix" id="dataList">
        @Html.Partial("_PsotRecommendList", Model)
    </div>
    <hr />

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#startDate').datepicker();
        $('#endDate').datepicker();
    });
</script>

