
@{
    ViewBag.Title = "OverStoreSubsidies";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="zpManage zpSh">
    <h2 class="crumbs">
        您所在位置：补贴设置 > 跨店抢单奖励设置
    </h2>
    <div class="SearchMd">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td> 
                    <p style="color: red;">  
 说明：骑士抢多家商铺订单，奖励金额将在每天0点开始发放。
    <br/>
            1.不能为负数，必须是数字。 <br/>

            2.如果抢单的商家数量大于设置的跨店数量，按照最大设置的跨店数量进行奖励。<br/>  
</p>
                </td>
            </tr>
            <tr>
                <td> 
                    <input type="submit" value="新增" class="searchBtn" onclick="showAdd();" id="btnAdd" /> 
                    <label style="color: red">会按跨店数量自动正序排序</label>
                    <a href="/SubsidyFormulaMode/SubsidyFormulaMode">佣金补贴策略设置</a>
                </td>
            </tr>
        </table>
    </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
        <thead> 
            <tr class="tdbg">
                <th width="%5">编号</th>
                <th>跨店数量(个)</th>
                <th>奖励金额(元)</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                { 
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td> 
                            <td>@item.Value1</td>
                            <td>@item.Value2</td>
                            <td> 
                                <a href="javascript:void(0)" onclick="showUpdate(@item.Id,'@item.Value1',@item.Value2)">修改</a>
                                <a href="javascript:void(0)" onclick="deleteIt(@item.Id);">删除</a> 
                            </td> 
                        </tr> 
                    }
                }
            }
        </tbody> 
    </table>
</div>
<div>
    <div class="add-openbox add-form" id="addDiv" style="width:500px">
        <h2>
            <p id="statusFin">新增跨店抢单补贴</p>
        </h2>
        <fieldset>
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label>跨店数量</label> 
                <input  name="txtTime" id="txtTime" type="text">
            </div>  
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label>奖励金额</label> 
                <input  name="txtPrice" id="txtPrice" type="text">
            </div> 
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnConfimAdd" class="yesBtn" />                
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
 
<div>
    <div class="add-openbox add-form" id="updateDiv" style="width:500px">
        <h2>
            <p id="statusFin">修改跨店抢单补贴</p>
        </h2>
        <fieldset>
            <input type="hidden" id="hidid"/>
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label >跨店数量</label> 
                <input  name="txtTimeu" id="txtTimeu" type="text">
            </div>  
            <div class="control-group" style="width: 250px;margin: 0 auto;">
                <label >奖励金额</label> 
                <input  name="txtPriceu" id="txtPriceu" type="text">
            </div> 
        </fieldset>
        <p class="btnbox">
            <input value="确认" type="button" id="btnUpdateConfim" class="yesBtn" />                
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
<script>
    var adminjs = new adminglass(); //实例化后台类  
    //新增
    function check(Value1,Value2){
        if (Value1 == "") {
            alert("请输入跨店数量!");
            return false;
        } 
        if (isNaN(Value1)) {
            alert("请输入跨店数量!");
            return false;
        }
        if (Value2!="" && isNaN(Value2)) {
            alert("请输入金额!");
            return false;
        }
        if (parseInt(Value1) != Value1) {
            alert("跨店数量必须是整数!");
            return false;
        }
        if (parseInt(Value1) < 1) {
            alert("跨店数量需要大于0!");
            return false;
        }
        if (parseInt(Value1) > 50) {
            alert("跨店数量需要小于50!");
            return false;
        }
        if (parseInt(Value2)<0) {
            alert("金额需要大于0!");
            return false;
        }
        if (parseInt(Value2)> 500) {
            alert("金额需要小于500!");
            return false;
        }
        return true;
    }
    $("#btnConfimAdd").on('click', function () {
        var Value1 = $("#txtTime").val();
        var Value2 = $("#txtPrice").val();
        if(check(Value1,Value2))
        {
            if(Value2==null || Value2==""){Value2=0;}
            var pars = { "Id": 0, "Value1": Value1, "Value2": Value2 };
            var url = "/SubsidyFormulaMode/AddOverStoreSubsidies";
            $.ajax({
                type: 'POST',
                url: url,
                data: pars,
                dataType: 'json',
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("添加成功!");
                        window.location.href = "/SubsidyFormulaMode/OverStoreSubsidies/";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        }
        
    });

    function deleteIt(id) {
        if (confirm("确定删除?")) { 
            var pars = { "Id": id };
            var url = "/SubsidyFormulaMode/DeleteOverStoreSubsidies?id=" + id;
            $.ajax({
                type: 'GET',
                url: url,
                data: pars,
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("删除成功!");
                        window.location.href = "/SubsidyFormulaMode/OverStoreSubsidies/";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        }
    }
    //修改
    $("#btnUpdateConfim").on('click', function () {
        var Value1 = $("#txtTimeu").val();
        var Value2 = $("#txtPriceu").val();
        var hidid = $("#hidid").val();
        if(check(Value1,Value2))
        {
            if(Value2==null || Value2==""){value2=0;}
            var pars = { "Id": hidid, "Value1": Value1, "Value2": Value2 };
            var url = "/SubsidyFormulaMode/UpdateOverStoreSubsidies";
            $.ajax({
                type: 'POST',
                url: url,
                data: pars,
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("修改成功!");
                        window.location.href = "/SubsidyFormulaMode/OverStoreSubsidies/";
                    } else {
                        alert(result.Message);
                    }
                }
            });
        }
    });
    function showUpdate(id,tiem,price) {
        $("#txtTimeu").val(tiem); 
        $("#txtPriceu").val(price); 
        $("#hidid").val(id);
        adminjs.openwinbox('#updateDiv');
    }
    function showAdd() {
        adminjs.openwinbox('#addDiv');
    }
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>