@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Subsidy.subsidy>
@using Ets.Service.Provider.User
<div>
    <h4 style="color:black;font-weight:600">补帖设置记录</h4>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
        <thead>
            <tr class="tdbg">
                <th width="%5">序号</th>
                <th>订单佣金(%)</th>
                <th>网站补贴</th>
                <th>开始日期</th>
                <th>结束日期</th>
                <th>所属集团</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
                foreach (var item in Model.Records)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@(item.OrderCommission.Value * 100)</td>
                        <td>@item.WebsiteSubsidy</td>
                        <td>@item.StartDate.Value.ToShortDateString()</td>
                        <td>@item.EndDate.Value.ToShortDateString()</td>
                        <td>
                           @item.GroupName
                        </td>
                    </tr>
                }
            }
        </tbody>
</table>
@{ViewBag.ActionName = "PostSubsidyManager";}
@Html.Partial("~/views/shared/PagerControl.cshtml", Model)
   

