
<link rel="stylesheet" href="~/css/eds.css" />
<div id="eds">
			<!-- 头部模块start -->
	    	<div id="hd">
	    		<div class="header">	    			
                    @Html.ActionLink("logo", "Index", "Home", null, new { @class = "logo" })
	    			<ul class="nav">                      
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>
                        <li>@Html.ActionLink("商户版", "Business", "Home")</li>
                        <li>@Html.ActionLink("骑士版", "Clienter", "Home")</li>
                        <li>@Html.ActionLink("关于Ｅ代送", "About", "Home")</li>
	    			</ul>
	    		</div>
	    	</div>
			<!-- 头部模块end -->
			<div id="bd">
				<div id="bd-inner">
					<div class="index_qs">
						<div class="one_cent">
							<p><img src="~/img/banner_1.png"></p>
							<p class="one_down"><a href="http://admin.edaisong.com.cn/download/edsc"><img src="~/img/banner_2.png"></a></p>
							<p><img src="~/img/banner_3.png"></p>
						</div>	
					</div>
					<div class="index_two">
						<div class="two_cent">
							<div class="two_left">
							<p><img src="~/img/banner_5.png" /></p>
						</div>
							<div class="two_right">
							<h3>Q&A</h3>
							<div class="right_one">
								<dl>
									<dt>1</dt>
								</dl>
								<dl>
									<dd>骑士账户提交审核后显示审核中，不能抢单怎么操作？</dd>
									<dd>骑士提交审核后应致电E代送客服热线4006-380-177请求通过审核！</dd>
								</dl>
							</div>
							<div class="right_one">
								<dl>
									<dt>2</dt>
								</dl>
								<dl>
									<dd>账号审核通过后App刷不出来订单？</dd>
									<dd>遇到该问题我们建议：</dd>
									<dd>A  首先检查您的手机信号以及网络数据是否正常；</dd>
									<dd>B  手机内GPS定位是否打开；</dd>
									<dd>C  重启手机再次尝试；</dd>
									<dd>D  如仍然不能刷出订单，可以致电客服热线咨询，平台将会安排技术人员进行处理。</dd>
								</dl>
							</div>
							<div class="right_one">
								<dl>
									<dt>3</dt>
								</dl>
								<dl>
									<dd>抢单成功后多长时间到商家取货，多长时间内送达？</dd>
									<dd>一般抢单成功后尽可能在15分钟内到达商家取货，若该订单发出时间较</dd>
									<dd>长，建议骑士抢单成功后与商家电话联系确认。取货后应30分钟内送达客户。</dd>
								</dl>
							</div>
							<div class="right_one">
								<dl>
									<dt>4</dt>
								</dl>
								<dl>
									<dd>取货时应注意？</dd>
									<dd>对于餐饮业</dd>
									<dd>A  骑士到店后应首先检查任务的订单数量，并保证订单小票金额、数量与App一致；</dd>
									<dd>B  订单餐品数量与小票一致；</dd>
									<dd>C  餐品的打包质量以及餐具的数量。</dd>
								</dl>
							</div>
							<div class="right_one">
								<dl>
									<dt>5</dt>
								</dl>
								<dl>
									<dd>送达客户处应注意？</dd>
									<dd>送达后需用标准话术请客户本人签收，如“您好，您的货品到了，请查收”</dd>
									<dd>“请问某先生/女士在吗，我是E代送骑士，这是您的货品，请您验收。”</dd>
									<dd>“祝您生活愉快，期待下次为您服务，再见”</dd>
								</dl>
							</div>
							<div class="right_one">
								<dl>
									<dt>6</dt>
								</dl>
								<dl>
									<dd>骑士提现的款项为什么被退回或迟迟未到账怎么办？ </dd>
									<dd>请致电平台客服查询提款进度。</dd>
								</dl>
							</div>
						</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- 底部模块start -->
			<div id="ft">
				<div class="footer">
					<div class="phone"><i class="i-phone"></i>客服热线：4006-380-177</div>
					<div class="copyright"><p>京ICP备15014116号-1 Copyright©2011-2015</p>
					<p>易代送网络科技（北京）有限公司,All rights reserved.</p></div>
				</div>
			</div>
			<!-- 底部模块end -->
		</div>
