@model ETS.Data.PageData.PageInfo<Ets.Model.DomainModel.Finance.BusinessWithdrawFormModel>
@using ETS.Util;
<script src="~/Scripts/view/orderList.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th>编号</th>
            <th>提款单号</th>
            <th>商户名称</th>
            <th>电话</th>
            <th>提现前余额</th>
            <th>提现前可提现余额</th>
            <th>提现金额</th>
            <th>提现后余额</th>
            <th>状态</th>
            <th>申请时间</th>
            <th>审核人</th>
            <th>审核时间</th>
            <th>打款人</th>
            <th>打款时间</th>
            <th>审核拒绝原因</th>
            <th>打款失败原因</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            if (Model != null && Model.Records.Count > 0)
            {
                foreach (var item in Model.Records)
                {
                    i++;
                    <tr id="@item.Id">
                        <td>@i</td>
                        <td>@item.WithwardNo</td>
                        <td>@item.BusinessName</td>
                        <td>@item.BusinessPhoneNo</td>
                        <td>@ParseHelper.ToSplitByPercentile(false,item.BalancePrice)</td>
                        <td>@ParseHelper.ToSplitByPercentile(false, item.AllowWithdrawPrice)</td>
                        <td style="color:green;font-weight:600">@ParseHelper.ToSplitByPercentile(false, item.Amount)</td>
                        <td>@ParseHelper.ToSplitByPercentile(false, item.Balance)</td>
                        @{
                            var strstatus = "";
                            if (item.Status == 1)
                            {
                                strstatus = "待审核";
                            }
                            else if (item.Status == 2)
                            {
                                strstatus = "审核通过";
                            }
                            else if (item.Status == 3)
                            {
                                strstatus = "打款完成";
                            }
                            else if (item.Status == -1)
                            {
                                strstatus = "审核拒绝";
                            }
                            else if (item.Status == -2)
                            {
                                strstatus = "打款失败";
                            }
                        }
                        <td>@strstatus</td>
                        <td>@item.WithdrawTime</td>
                        <td>@item.Auditor</td>
                        <td>@item.AuditTime</td>
                        <td>@item.Payer</td>
                        <td>@item.PayTime</td>
                        <td>@item.AuditFailedReason</td>
                        <td>@item.PayFailedReason</td>
                        <td>
                            查看
                            @*<a href="/BusinessWithdraw/OrderDetail?OrderNo=@item.OrderNo&OrderId=@item.Id ">查看</a>*@
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PostBusinessWithdraw";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    $(function () {
    });
    $('#btnSuperConfim').bind('click', function () {
        var orderCommission = $('#OrderCommissionUnFin').val();
        var orderNo = $('#orderNoUnFin').val();
        var superID = $("#superSelect").val().trim();
        if ($("#OrderCommissionUnFin").val().trim() == "") {
            alert("订单佣金不能为空！");
            return false;
        }
        var paramaters = { "OrderCommission": orderCommission, "SuperName": "", "OrderNo": orderNo };
        var url = "/Order/SaveOrderInfo";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                $.post("/Order/RushOrder", { SuperID: superID, OrderNo: orderNo }, function (data) {
                    if (data.IsSuccess) {
                        alert("更新订单成功!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    } else {
                        alert("分配失败，请重新选择超人!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    }
                });
            }
        });
        return true;
    });
    function funcViewOrder(id, pubDate, businessName, busiPhone, busiAddress, yongjin, disBuTie, WebBuTie, revPhone, revName, revAddress, Amount, isPay, superId, status, superManName) {
        var paramaters = { "OrderNo": id, "PubDate": pubDate, "BusinessName": businessName, "BusinessPhoneNo": busiPhone, "BusinessAddress": busiAddress, "OrderCommission": yongjin, "DistribSubsidy": disBuTie, "WebsiteSubsidy": WebBuTie, "RecevicePhoneNo": revPhone, "ReceviceName": revName, "ReceviceAddress": revAddress, "Amount": Amount, "IsPay": isPay, "clienterId": superId, "Status": status, "ClienterName": superManName };
        window.location.href = "/Order/OrderDetail";

    };
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
