@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Order.OrderListModel>
<script src="~/Scripts/view/orderList.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th width="%5">订单号</th>
            <th>原平台订单号</th>
            <th>商户信息</th>
            <th>超人信息</th>
            <th>发布时间</th>
            <th width="%5">取货地址</th>
            <th width="%5">送货地址</th>
            <th>实际完成时间</th>
            <th>订单数量</th>
            <th>订单金额</th>
            <th>订单佣金</th>
            <th>外送费</th>
            <th>每单补贴</th>
            <th>任务补贴</th>
            <th>商家结算比例</th>
            <th>订单来源</th>
            <th>订单状态</th>
            <th>已上传/共需上传</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            if (Model != null && Model.Records.Count > 0)
            {


                foreach (var item in Model.Records)
                {
                    var diffHour = (DateTime.Now - DateTime.Parse(item.PubDate != null ? item.PubDate.ToString() : DateTime.Now.ToString())).TotalHours;
                    string val = diffHour > 10 && item.Status == 0 ? "red" : diffHour > 8 && item.Status == 0 ? "blue" : diffHour > 5 && item.Status == 0 ? "yellow" : "none";
                    i++;
                    <tr id="@item.Id">
                        <td>@item.OrderNo</td>
                        <td>@item.OriginalOrderNo</td>
                        <td>@item.BusinessName <br> @item.BusinessPhoneNo</td>
                        <td>@item.ClienterName <br> @item.ClienterPhoneNo</td>
                        <td>@item.PubDate</td>
                        <td>@item.PickUpAddress</td>
                        <td>@item.ReceviceAddress</td>
                        <td>@item.ActualDoneDate</td>
                        <td>@item.OrderCount</td>
                        <td style="color:red;font-weight:600">@item.Amount</td>
                        <td>@item.OrderCommission</td>
                        <td>@item.DistribSubsidy</td>
                        <td>@item.WebsiteSubsidy</td>
                        <td>@item.Adjustment</td>
                        <td>@item.BusinessCommission</td>
                        <td>@item.GroupName</td>
                        @{
                    var strstatus = "";
                    if (@item.Status == ETS.Const.OrderConst.OrderStatus1)
                    {
                        strstatus = "已完成";
                    }
                    else if (@item.Status == ETS.Const.OrderConst.OrderStatus0)
                    {
                        strstatus = "未接单";
                    }
                    else if (@item.Status == ETS.Const.OrderConst.OrderStatus2)
                    {
                        strstatus = "已接单";
                    }
                    else if (@item.Status == ETS.Const.OrderConst.OrderStatus3)
                    {
                        strstatus = "已取消";
                    }
                    else if (@item.Status == ETS.Const.OrderConst.OrderStatus30)
                    {
                        strstatus = "待确认";
                    }
                    <td style="color:@Html.Raw(val)">@strstatus</td>
                        }
                        <td>@item.HadUploadCount.ToString()/@item.OrderCount.ToString()</td>
                        <td>
                            <a href="/Order/OrderDetail?OrderNo=@item.OrderNo&OrderId=@item.Id ">查看</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@{
    if (Model != null)
    {
        ViewBag.ActionName = "PostOrder";
        @Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    $(function () {
    });
    $('#btnSuperConfim').bind('click', function () {
        var orderCommission = $('#OrderCommissionUnFin').val();
        var orderNo = $('#orderNoUnFin').val();
        var superID = $("#superSelect").val().trim();
        if ($("#OrderCommissionUnFin").val().trim() == "") {
            alert("订单佣金不能为空！");
            return false;
        }
        var paramaters = { "OrderCommission": orderCommission, "SuperName": "", "OrderNo": orderNo };
        var url = "/Order/SaveOrderInfo";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                $.post("/Order/RushOrder", { SuperID: superID, OrderNo: orderNo }, function (data) {
                    if (data.IsSuccess) {
                        alert("更新订单成功!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    } else {
                        alert("分配失败，请重新选择超人!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    }
                });
            }
        });
        return true;
    });
    function funcViewOrder(id, pubDate, businessName, busiPhone, busiAddress, yongjin, disBuTie, WebBuTie, revPhone, revName, revAddress, Amount, isPay, superId, status, superManName) {
        var paramaters = { "OrderNo": id, "PubDate": pubDate, "BusinessName": businessName, "BusinessPhoneNo": busiPhone, "BusinessAddress": busiAddress, "OrderCommission": yongjin, "DistribSubsidy": disBuTie, "WebsiteSubsidy": WebBuTie, "RecevicePhoneNo": revPhone, "ReceviceName": revName, "ReceviceAddress": revAddress, "Amount": Amount, "IsPay": isPay, "clienterId": superId, "Status": status, "ClienterName": superManName };
        window.location.href = "/Order/OrderDetail";
       
    };
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
