@model ETS.Data.PageData.PageInfo<Ets.Model.DataModel.Order.OrderListModel>
<script src="~/Scripts/view/orderList.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dAeaG6HwIFGlkbqtyKkyFGEC"></script>
<style type="text/css">
#map_contain {
    height: 90%;
    width: 100%;
    max-width: none;
}
label {
    max-width: none;
}

#control {
width: 100%;
}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th width="%5">订单号</th>
            <th>原平台订单号</th>
            <th>商户信息</th>
            <th>超人信息</th>
            <th>发布时间</th>
            @*<th width="%5">取货地址</th>*@
            <th width="%5">送货地址</th>
            <th>实际完成时间</th>
            <th>订单数量</th>
            <th>订单金额</th>
            <th>订单佣金</th>
            <th>扣除补贴</th>
            <th>外送费</th>
            <th>每单补贴</th>
            <th>任务补贴</th>
            <th>商家结算</th>
            <th>订单来源</th>
            <th>订单状态</th>
            <th>已上传/共需上传</th>
            <th>抢单-完成</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Records.Count > 0)
            {
                foreach (var item in Model.Records)
                {
                    double distance = ETS.Util.ParseHelper.ToDouble(item.GrabToCompleteDistance);
                    string grabToCompleteStyle = "";
                    string grabToCompleteStr = "";
                    if (distance==-1)//抢单和完成的坐标有一个未知时
                    {
                        grabToCompleteStyle = "color:black";
                        grabToCompleteStr = "未知";
                    }
                    else if (distance == 0.0)//抢单和完成的坐标重合
                    {
                         grabToCompleteStyle = "color:red;font-weight:900";
                         grabToCompleteStr = "重合";
                    }
                    else //抢单和完成的坐标不重合
                    {
                         grabToCompleteStyle = "color:green";
                         grabToCompleteStr = "不重合";
                    }
                    string AuditStatus = "";
                    if (item.AuditStatus == 2)
                    {
                        AuditStatus = "审核拒绝";
                    }
                    else if (item.AuditStatus == 1)
                    {
                        AuditStatus="审核通过";
                    }
                    else
                    {
                        AuditStatus = "待审核";
                    }
                   
                    var diffMinutes = (DateTime.Now - DateTime.Parse(item.PubDate != null ? item.PubDate.ToString() : DateTime.Now.ToString())).TotalMinutes;
                    string timeoutStyle = diffMinutes > 5 && item.Status == 0 ? " style=background-color:#FFCCCC" : "";
                    <tr id="@item.Id" @timeoutStyle>
                        <td><a href="/Order/OrderDetail?OrderNo=@item.OrderNo&OrderId=@item.Id ">@item.OrderNo</a></td>
                        <td>@item.OriginalOrderNo</td>
                        <td>@item.BusinessName <br> @item.BusinessPhoneNo</td>
                        <td>@item.ClienterName <br> @item.ClienterPhoneNo</td>
                        <td>@item.PubDate</td>
                        @*<td>@item.PickUpAddress</td>*@
                        <td>@item.ReceviceAddress</td>
                        <td>@item.ActualDoneDate</td>
                        <td>@item.OrderCount</td>
                        <td style="color:red;font-weight:600">@item.Amount</td>
                        <td>@item.OrderCommission</td>
                        @{
                            decimal butie = 0.00M;

                            if (@item.AuditStatus!=2)
                            {                                
                                 <td>0.00</td>                               
                            }
                            else
                            {                              
                                butie = item.OrderCommission.Value - item.RealOrderCommission;                          

                                if (butie > 0)
                                {
                                    <td style="color:red;font-weight:600">@butie</td>
                                }
                                else
                                {
                                    <td>@butie</td>
                                }
                            }
}
                        <td>@item.DistribSubsidy</td>
                        <td>@item.WebsiteSubsidy</td>
                        <td>@item.Adjustment</td>
                        <td>@{ var commission = item.CommissionType == 1 ? item.BusinessCommission + "%" : item.CommissionFixValue.ToString();}
                            @commission
                        </td>
                        <td>@item.GroupName</td>
                        <td>@ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.OrderStatusCommon)item.Status).GetType(), (ETS.Enums.OrderStatusCommon)item.Status).Text</td>
                        <td>@item.HadUploadCount.ToString()/@item.OrderCount.ToString()</td>  
                        <td style="@grabToCompleteStyle">@grabToCompleteStr</td>
                        <td>
                            @AuditStatus
                        </td>
                        <td><a  href="javascript:showMapData('@item.Id')">查看地图</a></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@{
    if (Model != null)
    {
 ViewBag.ActionName = "PostOrder";
@Html.Partial("~/views/shared/PagerControl.cshtml", Model)
    }
}
<div class="selectSupplierDish">
<div class="add-openbox add-form" id="orderMapShow" style="width: 60%;height:80%">
    <div id="map_contain" ></div>
    <p class="btnbox">
        <input value="关闭" type="button" class="J_closebox qxBtn" />
    </p>
</div>
</div>
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    $(function () {

    });
    $('#btnSuperConfim').bind('click', function () {
        var orderCommission = $('#OrderCommissionUnFin').val();
        var orderNo = $('#orderNoUnFin').val();
        var superID = $("#superSelect").val().trim();
        if ($("#OrderCommissionUnFin").val().trim() == "") {
            alert("订单佣金不能为空！");
            return false;
        }
        //if (superID == "" || superID == "-1") {
        //    alert("请选择超人!");
        //    return false;
        //}
        var paramaters = { "OrderCommission": orderCommission, "SuperName": "", "OrderNo": orderNo };
        var url = "/Order/SaveOrderInfo";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                $.post("/Order/RushOrder", { SuperID: superID, OrderNo: orderNo }, function (data) {
                    if (data.IsSuccess) {
                        alert("更新订单成功!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    } else {
                        alert("分配失败，请重新选择超人!");
                        window.location.href = location.href;
                        adminjs.closewinbox('.add-openbox');
                    }
                });
            }
        });
        return true;
    });
    function funcViewOrder(id, pubDate, businessName, busiPhone, busiAddress, yongjin, disBuTie, WebBuTie, revPhone, revName, revAddress, Amount, isPay, superId, status, superManName) {
        var paramaters = { "OrderNo": id, "PubDate": pubDate, "BusinessName": businessName, "BusinessPhoneNo": busiPhone, "BusinessAddress": busiAddress, "OrderCommission": yongjin, "DistribSubsidy": disBuTie, "WebsiteSubsidy": WebBuTie, "RecevicePhoneNo": revPhone, "ReceviceName": revName, "ReceviceAddress": revAddress, "Amount": Amount, "IsPay": isPay, "clienterId": superId, "Status": status, "ClienterName": superManName };
        window.location.href = "/Order/OrderDetail";
        //var url = "/Order/OrderDetail";
        //$.ajax({
        //    type: 'POST',
        //    url: url,
        //    data: paramaters,
        //    success: function (result) { 
        //        // window.location.href = "/Order/OrderDetail";
        //        alert(result);
        //    }
        //});
        //if (status == 1 || status == 2 || status == 3) {
        //    $("#orderNoFin").val(id).attr('disabled', 'disabled');
        //    $("#PubDateFin").val(pubDate).attr('disabled', 'disabled');
        //    $("#businessNameFin").val(businessName).attr('disabled', 'disabled');
        //    $("#businessPhoneFin").val(busiPhone).attr('disabled', 'disabled');
        //    $("#businessAddressFin").val(busiAddress).attr('disabled', 'disabled');
        //    var yongjin = "订单佣金:" + yongjin + "," + "外送费:" + disBuTie + "," + "网站补贴:" + WebBuTie;
        //    $("#buTieFin").val(yongjin).attr('readonly', 'readonly');

        //    $("#RecPhoneFin").val(revPhone).attr('disabled', 'disabled');
        //    $("#RecAddressFin").val(revAddress).attr('disabled', 'disabled');
        //    $("#AmountFin").val(Amount).attr('disabled', 'disabled');
        //    if (isPay)
        //        $("#isPayFin").val("顾客已付款").attr('disabled', 'disabled');
        //    else
        //        $("#isPayFin").val('顾客未付款').attr('disabled', 'disabled');
        //    $("#superFin").val(superManName).attr('disabled', 'disabled');
        //    if (status == 1)
        //        $("#statusFin").text("已完成");
        //    else if (status == 2) {
        //        $("#statusFin").text("已接单");
        //    }
        //    else {
        //        $("#statusFin").text("已取消");
        //    }
        //    adminjs.openwinbox('#FinishOrderShow');
        //}
        //else if (status == 0 || status == 4) {  //待接单 和 待审核状态下 可以指定超人
        //    $("#orderNoUnFin").val(id).attr('disabled', 'disabled');
        //    $("#PubDateUnFin").val(pubDate).attr('disabled', 'disabled');
        //    $("#businessNameUnFin").val(businessName).attr('disabled', 'disabled');
        //    $("#businessPhoneUnFin").val(busiPhone).attr('disabled', 'disabled');
        //    $("#businessAddressUnFin").val(busiAddress).attr('disabled', 'disabled');
        //    //var yongjin = "订单佣金:" + yongjin + "," + "外送费:" + disBuTie + "," + "网站补贴:" + WebBuTie;
        //    $("#OrderCommissionUnFin").val(yongjin);
        //    $("#DistribSubsidyUnFin").val(disBuTie).attr('disabled', 'disabled');
        //    $("#WebsiteSubsidyUnFin").val(WebBuTie).attr('disabled', 'disabled');
        //    //$("#buTieUnFin").val(yongjin).attr('readonly', 'readonly');
        //    $("#RecPhoneUnFin").val(revPhone).attr('disabled', 'disabled');
        //    $("#RecAddressUnFin").val(revAddress).attr('disabled', 'disabled');
        //    $("#AmountUnFin").val(Amount).attr('disabled', 'disabled');
        //    if (isPay)
        //        $("#isPayUnFin").val("顾客已付款").attr('disabled', 'disabled');
        //    else
        //        $("#isPayUnFin").val('顾客未付款').attr('disabled', 'disabled');
        //    if (status == 0) {
        //        $("#statusUnFin").text("待接单");
        //    }
        //    if (status == 4) {
        //        $("#statusUnFin").text("待审核");
        //    }
        //    $("#superUnFin").val("").removeAttr('disabled');
        //    adminjs.openwinbox('#UnfinishOrderShow');
        //}
    };
    //关闭弹层
    $('.J_closebox').click(function () {
        //关闭地图时，恢复滚动条
        document.documentElement.style.overflow = "auto";
        document.body.style.overflow = "auto";
        adminjs.closewinbox('.add-openbox');
        return false;
    });
    function showMapData(orderid) {
        //弹出地图时，禁用滚动条
        document.documentElement.style.overflow = "hidden";
        document.body.style.overflow = "hidden";
        var paramaters = { "OrderId": orderid };
        var url = "/Order/OrderMap";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                adminjs.openwinbox('#orderMapShow');//需要先弹层，否则地图第二次加载有问题，且无法显示连线
                showMap(result);
            },
            error: function (b)
            {
                alert(b.responseText);
            }
        });
    }

    function showMap(jsonstr) {
        if (jsonstr == null) {
            alert("没取到订单的地图数据！");
        } else {
            // 百度地图API功能
            //发单的坐标作为地图的中心点
            var map = new BMap.Map("map_contain");
            //没有发单经纬度时，地图中心点设置为天安门
            //var centerLongitude = 116.3972282409668;
            //var centerLatitude = 39.90960456049752;
            var centerLongitude = jsonstr.PubLongitude;
            var centerLatitude = jsonstr.PubLatitude;
            if (jsonstr.PubLongitude != 0 && jsonstr.PubLatitude!=0) {
                //也许需要重新计算中心点
            }
            map.centerAndZoom(new BMap.Point(centerLongitude, centerLatitude), 16);
            //map.centerAndZoom(new BMap.Point(116.404, 39.915), 16);
            map.enableScrollWheelZoom();

            var polyline = new BMap.Polyline([
                new BMap.Point(jsonstr.PubLongitude, jsonstr.PubLatitude),
                new BMap.Point(jsonstr.GrabLongitude, jsonstr.GrabLatitude),
                new BMap.Point(jsonstr.TakeLongitude, jsonstr.TakeLatitude),
                new BMap.Point(jsonstr.CompleteLongitude, jsonstr.CompleteLatitude)
            ], { strokeColor: "red", strokeWeight: 2, strokeOpacity: 0.5 });   //创建折线
            map.addOverlay(polyline);   //增加折线

            //发单
            var marker = new BMap.Marker(new BMap.Point(jsonstr.PubLongitude, jsonstr.PubLatitude)); // 创建点
            map.addOverlay(marker);
            var label = new BMap.Label("发单时间-" + jsonstr.PubDate, { offset: new BMap.Size(-165, -10) });
            marker.setLabel(label);

            //抢单
            var marker1 = new BMap.Marker(new BMap.Point(jsonstr.GrabLongitude, jsonstr.GrabLatitude)); // 创建点
            map.addOverlay(marker1);
            var label = new BMap.Label("抢单时间-" + jsonstr.GrabTime, { offset: new BMap.Size(20, -10) });
            marker1.setLabel(label);

            //取货
            var marker2 = new BMap.Marker(new BMap.Point(jsonstr.TakeLongitude, jsonstr.TakeLatitude)); // 创建点
            map.addOverlay(marker2);
            var label = new BMap.Label("取货时间-" + jsonstr.TakeTime, { offset: new BMap.Size(20, 20) });
            marker2.setLabel(label);


            //完成
            var marker3 = new BMap.Marker(new BMap.Point(jsonstr.CompleteLongitude, jsonstr.CompleteLatitude)); // 创建点
            map.addOverlay(marker3);
            var label = new BMap.Label("完成时间-" + jsonstr.ActualDoneDate, { offset: new BMap.Size(-165, 20) });
            marker3.setLabel(label);
        }
    }
</script>
