@model SuperManCommonModel.Models.OrderManageList
<script src="~/Scripts/view/orderList.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbstyle">
    <thead>
        <tr class="tdbg">
            <th width="%5">订单号</th>
            <th>商户信息</th>
            <th>超人信息</th>
            <th>发布时间</th>
            <th width="%5">取货地址</th>
            <th width="%5">送货地址</th>
            <th>实际完成时间</th>
            <th>订单金额</th>
            <th>订单佣金</th>
            <th>配送补贴</th>
            <th>网站补贴</th>
            <th>原平台订单号</th>
            <th>所属集团</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            foreach (var item in Model.orderModel)
            {
                i++;
                <tr id="@item.Id">
                    <td>@item.OrderNo</td>
                    <td>@item.BusinessModel.Name <br> @item.BusinessModel.PhoneNo</td>
                    <td>@item.ClienterName <br> @item.ClienterPhoneNo</td>
                    <td>@item.PubDate</td>
                    <td>@item.PickUpAddress</td>
                    <td>@item.ReceviceAddress</td>
                    <td>@item.ActualDoneDate</td>
                    <td style="color:red;font-weight:600">@item.Amount</td>
                    <td>@item.OrderCommission</td>
                    <td>@item.DistribSubsidy</td>
                    <td>@item.WebsiteSubsidy</td>
                    <td>@item.OriginalOrderNo</td>
                    <td>@item.GroupName</td>
                    @{
                        var strstatus = "";
                        if (@item.Status == SuperManCommonModel.ConstValues.ORDER_FINISH)
                        {
                            strstatus = "已完成";
                        }
                        else if (@item.Status == SuperManCommonModel.ConstValues.ORDER_NEW)
                        {
                            strstatus = "未接单";
                        }
                        else if (@item.Status == SuperManCommonModel.ConstValues.ORDER_ACCEPT)
                        {
                            strstatus = "已接单";
                        }
                        else if (@item.Status == SuperManCommonModel.ConstValues.ORDER_CANCEL)
                        {
                            strstatus = "已取消";
                        }
                        <td>@strstatus</td>
                    }

                    <td>
                        <a href="javascript:void(0)" orderid=@item.Id businessname=@item.BusinessModel.Name id="linkView" onclick="funcViewOrder('@item.OrderNo','@item.PubDate','@item.BusinessModel.Name','@item.BusinessModel.PhoneNo','@item.BusinessModel.Address','@item.OrderCommission','@item.DistribSubsidy','@item.WebsiteSubsidy','@item.RecevicePhoneNo','@item.ReceviceName','@item.ReceviceAddress','@item.Amount','@item.IsPay','@item.clienterId','@item.Status','@item.ClienterName')">查看</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.Partial("_Pager", Model.PagingResult)


<!--状态为已完成的订单弹出画面 start-->
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="FinishOrderShow" style="width:500px">
        <h2>
            <p id="statusFin">状态</p>
            <a class="J_closebox x_close"></a>
        </h2>

        <form class="form-horizontal" role="form" id="menufrom" method="post" action="/MenuManagement/Add">
            <fieldset>
                <input type="hidden" name="Id" id="hddsupplierdishid" class="form-control">
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">订单号</label>
                    <div class="controls">
                        <input placeholder="订单号" name="orderNoFin" id="orderNoFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布时间</label>
                    <div class="controls">
                        <input placeholder="发布时间" name="PubDateFin" id="PubDateFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">商户信息</label>
                    <div class="controls">
                        <input placeholder="商户信息" name="businessNameFin" id="businessNameFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布人电话</label>
                    <div class="controls">
                        <input placeholder="发布人电话" name="businessPhoneFin" id="businessPhoneFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布人地址</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="发布人地址" name="businessAddressFin" id="businessAddressFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">补贴</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="补贴" name="buTieFin" id="buTieFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <hr />
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">收货人电话</label>
                    <div class="controls">
                        <input placeholder="收货人电话" name="RecPhoneFin" id="RecPhoneFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">收货人地址</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="收货人地址" name="RecAddressFin" id="RecAddressFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">订单金额</label>
                    <div class="controls">
                        <input placeholder="订单金额" name="AmountFin" id="AmountFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">是否已付款</label>
                    <div class="controls">
                        <input placeholder="是否已付款" name="isPayFin" id="isPayFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">超人</label>
                    <div class="controls">
                        <input placeholder="超人" name="superFin" id="superFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>
        <p class="btnbox">
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>

<!--end-->
<!--状态为待接单的订单弹出画面 start-->
<div class="selectSupplierDish">
    <div class="add-openbox add-form" id="UnfinishOrderShow" style="width:500px">
        <h2>
            <p id="statusUnFin">状态</p>
            <a class="J_closebox x_close"></a>
        </h2>

        <form class="form-horizontal" role="form" id="menufrom" method="post" action="/MenuManagement/Add">
            <fieldset>
                <input type="hidden" name="Id" id="hddsupplierdishid" class="form-control">
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">订单号</label>
                    <div class="controls">
                        <input placeholder="订单号" name="orderNoUnFin" id="orderNoUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布时间</label>
                    <div class="controls">
                        <input placeholder="发布时间" name="PubDateUnFin" id="PubDateUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">商户信息</label>
                    <div class="controls">
                        <input placeholder="商户信息" name="businessNameUnFin" id="businessNameUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布人电话</label>
                    <div class="controls">
                        <input placeholder="发布人电话" name="businessPhoneUnFin" id="businessPhoneUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">发布人地址</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="发布人地址" name="businessAddressUnFin" id="businessAddressUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                @*<div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">补贴</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="补贴" name="buTieUnFin" id="buTieUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>*@
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">订单佣金</label>
                    <div class="controls">
                        <input placeholder="订单佣金" name="OrderCommissionUnFin" id="OrderCommissionUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">配送补贴</label>
                    <div class="controls">
                        <input  placeholder="配送补贴" name="DistribSubsidyUnFin" id="DistribSubsidyUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">网站补贴</label>
                    <div class="controls">
                        <input  placeholder="网站补贴" name="WebsiteSubsidyUnFin" id="WebsiteSubsidyUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <hr />
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">收货人电话</label>
                    <div class="controls">
                        <input placeholder="收货人电话" name="RecPhoneUnFin" id="RecPhoneUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">

                    <!-- Text input-->
                    <label class="control-label" for="input01">收货人地址</label>
                    <div class="controls">
                        <input style="width:320px" placeholder="收货人地址" name="RecAddressUnFin" id="RecAddressUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">订单金额</label>
                    <div class="controls">
                        <input placeholder="订单金额" name="AmountUnFin" id="AmountUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">是否已付款</label>
                    <div class="controls">
                        <input placeholder="是否已付款" name="isPayUnFin" id="isPayUnFin" class="input-xlarge" required="required" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">指派超人</label>
                    <div class="controls">
                        <select id="superSelect" name="superSelect" >
                            <option value="-1">请选择超人</option>
                            @{
                                if (ViewBag.superManModel != null)
                                {
                                    foreach (var item in ViewBag.superManModel)
                                    {
                                        <option id="supperSelect_@item.Id" value="@item.Id">@item.TrueName-@item.PhoneNo</option>
                                    }
                                }
                            } 
                        </select>   
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>
        <p class="btnbox">
            <input value="确认" type="button" id="btnSuperConfim" class="yesBtn" />
            <input value="关闭" type="button" class="J_closebox qxBtn" />
        </p>
    </div>
</div>
<!--end--> 
<script type="text/javascript">
    var adminjs = new adminglass(); //实例化后台类
    $(function () {

    });

    $('#btnSuperConfim').bind('click', function () {
        var orderCommission = $('#OrderCommissionUnFin').val();
        var orderNo = $('#orderNoUnFin').val();
        var superID = $("#superSelect").val().trim();
        if ($("#OrderCommissionUnFin").val().trim() == "")
        {
            alert("订单佣金不能为空！");
            return false;
        }
        if (superID == "" || superID == "-1") {
            alert("请选择超人!");
            return false;
        }
        var isUpdate = false;
        var paramaters = {"OrderCommission": orderCommission, "SuperName": "", "OrderNo": orderNo };
        var url = "/Order/SaveOrderInfo";
        $.ajax({
            type: 'POST',
            url: url,
            data: paramaters,
            success: function (result) {
                if (result.IsSuccess) {
                    isUpdate = true;
                } else {
                    isUpdate = false;
                } 
            }
        });
        $.post("/Order/RushOrder", { SuperID: superID, OrderNo: orderNo }, function(data) {
            if (data) {
                isUpdate = true;
            } else {
                isUpdate = false;
            }
        });
        if (isUpdate) {
            alert("更新订单成功!");
            window.location.href = location.href;
        }
        adminjs.closewinbox('.add-openbox');
        return true;
        
    }); 
    function funcViewOrder(id, pubDate, businessName, busiPhone, busiAddress, yongjin, disBuTie, WebBuTie, revPhone, revName, revAddress, Amount, isPay, superId, status, superManName) {
        if (status == 1 || status == 2 || status == 3) { 
            $("#orderNoFin").val(id).attr('disabled', 'disabled');
            $("#PubDateFin").val(pubDate).attr('disabled', 'disabled');
            $("#businessNameFin").val(businessName).attr('disabled', 'disabled');
            $("#businessPhoneFin").val(busiPhone).attr('disabled', 'disabled');
            $("#businessAddressFin").val(busiAddress).attr('disabled', 'disabled');
            var yongjin = "订单佣金:" + yongjin + "," + "配送补贴:" + disBuTie + "," + "网站补贴:" + WebBuTie;
            $("#buTieFin").val(yongjin).attr('readonly', 'readonly');
           
            $("#RecPhoneFin").val(revPhone).attr('disabled', 'disabled');
            $("#RecAddressFin").val(revAddress).attr('disabled', 'disabled');
            $("#AmountFin").val(Amount).attr('disabled', 'disabled');
            if (isPay)
                $("#isPayFin").val("顾客已付款").attr('disabled', 'disabled');
            else
                $("#isPayFin").val('顾客未付款').attr('disabled', 'disabled');
            $("#superFin").val(superManName).attr('disabled', 'disabled');
            if (status == 1)
                $("#statusFin").text("已完成");
            else if (status == 2) {
                $("#statusFin").text("已接单");
            }
            else {
                $("#statusFin").text("已取消");
            }
            adminjs.openwinbox('#FinishOrderShow');
        }
        else if (status == 0) {
            $("#orderNoUnFin").val(id).attr('disabled', 'disabled');
            $("#PubDateUnFin").val(pubDate).attr('disabled', 'disabled');
            $("#businessNameUnFin").val(businessName).attr('disabled', 'disabled');
            $("#businessPhoneUnFin").val(busiPhone).attr('disabled', 'disabled');
            $("#businessAddressUnFin").val(busiAddress).attr('disabled', 'disabled');
            //var yongjin = "订单佣金:" + yongjin + "," + "配送补贴:" + disBuTie + "," + "网站补贴:" + WebBuTie;
            $("#OrderCommissionUnFin").val(yongjin);
            $("#DistribSubsidyUnFin").val(disBuTie).attr('disabled', 'disabled');
            $("#WebsiteSubsidyUnFin").val(WebBuTie).attr('disabled', 'disabled');
            //$("#buTieUnFin").val(yongjin).attr('readonly', 'readonly');
            $("#RecPhoneUnFin").val(revPhone).attr('disabled', 'disabled');
            $("#RecAddressUnFin").val(revAddress).attr('disabled', 'disabled');
            $("#AmountUnFin").val(Amount).attr('disabled', 'disabled');
            if (isPay)
                $("#isPayUnFin").val("顾客已付款").attr('disabled', 'disabled');
            else
                $("#isPayUnFin").val('顾客未付款').attr('disabled', 'disabled');
            $("#statusUnFin").text("待接单");
            $("#superUnFin").val("").removeAttr('disabled');
            adminjs.openwinbox('#UnfinishOrderShow');
        }
    };
    //关闭弹层
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
</script>
