@model Ets.Model.DataModel.Order.OrderListModel
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-zh-CN.js"></script>
<div style="width:1000px">
    @{
        
        
        var subsidy = "";
        if (Model.Status == 1 || Model.Status == 2 || Model.Status == 3)
        {
            subsidy = "订单佣金:" + Model.OrderCommission + "," + "外送费:" + Model.DistribSubsidy + "," + "网站补贴:" + Model.WebsiteSubsidy;
        }
        var payStatus = "";
        if (Model.IsPay.Value)
        {
            payStatus = "顾客已付款";
        }
        else
        {
            payStatus = "顾客未付款";
        }
    }
    <h2 class="crumbs">
        您所在位置：订单 > 订单管理 > 订单详情
    </h2>
    <table class="tbstyle222" border="0" style="font-size:13px;font-weight:bold;line-height:300%;width:1000px;">
        <tr class="trclass">
            <td>任务单号：@Model.OrderNo</td>
            <td>是否已付款:@payStatus</td>
            <td>订单状态：@ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.OrderStatusCommon)Model.Status).GetType(), (ETS.Enums.OrderStatusCommon)Model.Status).Text</td>
            <td>订单来源：@Model.GroupName</td>
        </tr>
        <tr class="trclass">
            <td>发布时间：@Model.PubDate</td>
            <td>商户信息：@Model.BusinessName</td>
            <td>发布人电话：@Model.BusinessPhoneNo</td>
            <td>发布人地址：@Model.BusinessAddress</td>
        </tr>
        <tr class="trclass">
            <td>订单金额：@Model.Amount</td>
            <td>订单佣金：@Model.OrderCommission</td>
            <td>外送费：@Model.DistribSubsidy</td>
            <td>网站补贴：@Model.WebsiteSubsidy</td>
        </tr>
        <tr class="trclass">
            <td>收货人电话:@Model.RecevicePhoneNo</td>
            <td>收货人地址：@Model.ReceviceAddress</td>
            @if (Model.Status == 1 || Model.Status == 2 || Model.Status == 3)
            {
                <td>骑士姓名：@Model.ClienterTrueName</td>
                <td>骑士手机：@Model.ClienterPhoneNo</td>
            }
        </tr>
        <tr>
            <td>备注：@Model.Remark</td>
            <td>订单数：@Model.OrderCount</td>
            <td>扣除补贴原因：@Model.DeductCommissionReason</td>
        </tr>
    </table>
    <hr />
    <div style="float:left;width:1000px;">
        @{
            System.Text.StringBuilder caiPin = new System.Text.StringBuilder("");
            if (@Model.OrderDetailList != null && @Model.OrderDetailList.Count > 0)
            {
                for (int i = 0; i < @Model.OrderDetailList.Count; i++)
                {
                    caiPin.Append(@Model.OrderDetailList[i].ProductName + "*" + @Model.OrderDetailList[i].Quantity);
                    if (i > 0 && i != @Model.OrderDetailList.Count)
                    {
                        caiPin.Append(",");
                    }
                }
            }
        }
        <lable style="font-size:13px;font-weight:bold;">菜品明细：@caiPin.ToString()</lable>
        <table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="1000">
            <thead>
                <tr class="tdbg">
                    <th>订单号</th>
                    <th>订单金额</th>
                    <th>配送费</th>
                    <th>支付状态</th>
                    <th>支付方式</th>
                    <th>支付来源</th>
                    <th>交易流水号</th>
                    <th>发票</th>
                    <th>小票</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var orderChildList = @Model.OrderChildList;
                    var curPuth = Ets.Model.ParameterModel.Clienter.CustomerIconUploader.Instance.RelativePath;
                    var curPhost = Ets.Model.ParameterModel.Clienter.CustomerIconUploader.Instance.PicHost;
                }
                @foreach (var curOrderChild in orderChildList)
                {
                    string bigFileName = "";
                    if (!string.IsNullOrWhiteSpace(curOrderChild.TicketUrl))
                    {
                        int fileLastDot = curOrderChild.TicketUrl.LastIndexOf('.');
                        string fileHandHouZhui = curOrderChild.TicketUrl.Substring(fileLastDot, curOrderChild.TicketUrl.Length - fileLastDot);
                        bigFileName = curPhost + curPuth + curOrderChild.TicketUrl.Substring(0, fileLastDot) + "_0_0" + fileHandHouZhui;
                    }
                    <tr>
                        <td>@curOrderChild.ChildId</td>
                        <td>@curOrderChild.GoodPrice</td>
                        <td>@curOrderChild.DeliveryPrice</td>
                        <td>
                            @if (curOrderChild.PayStatus > 0)
                            {
                                @ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.PayStatusEnum)curOrderChild.PayStatus).GetType(), (ETS.Enums.PayStatusEnum)curOrderChild.PayStatus).Text}
                    </td>
                    <td>
                        @if (curOrderChild.PayType!=null && curOrderChild.PayType.Value > 0)
                        {
                            @ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.PayTypeEnum)curOrderChild.PayType).GetType(), (ETS.Enums.PayTypeEnum)curOrderChild.PayType)}
                </td>
                <td>
                    @if (curOrderChild.PayStyle!=null && curOrderChild.PayStyle.Value > 0)
                    {
                        @ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.PayStyleEnum)curOrderChild.PayStyle).GetType(), (ETS.Enums.PayStyleEnum)curOrderChild.PayStyle)}
            </td>
            <td></td>
            <td></td>
            @if (!string.IsNullOrWhiteSpace(bigFileName))
            {
                <td><a href="@bigFileName">查看</a></td>
            }
            else
            {
                <td></td>
            }
        </tr>
                }

            </tbody>
        </table>
    </div>
    <input type="hidden" value="@Model.OrderNo" id="OrderNo" />
    <input type="hidden" value="@Model.Id" id="OrderId" />
    <input type="hidden" value="@Model.IsEnable" id="IsEnable" />
    <hr />
    <div style="float:left;width:1000px;padding-top:30px">
        <lable style="font-size:13px;font-weight:bold;">订单流转记录：</lable>
        <table border="0" cellspacing="0" cellpadding="0" class="tbstyle" width="1000">
            <thead>
                <tr class="tdbg">
                    <th>订单状态</th>
                    <th>操作人</th>
                    <th width="150">操作时间</th>
                    <th width="500">操作描述</th>
                    <th>操作平台</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var orderOptionLogList = ViewBag.orderOptionLog as List<Ets.Model.DataModel.Order.OrderSubsidiesLog>;
                    var k = 0;
                    var orderstatus = "";
                    var strplatform = "";
                    foreach (var item in orderOptionLogList)
                    {
                        if (item.Platform == 0)
                        {
                            strplatform = "商家端";
                        }
                        else if (item.Platform == 1)
                        {
                            strplatform = "配送端";
                        }
                        else if (item.Platform == 2)
                        {
                            strplatform = "服务平台";
                        }
                        else if (item.Platform == 3)
                        {
                            strplatform = "管理后台";
                        }
                        k++;
                        <tr id="@item.Id">
                            <td>@ETS.Extension.EnumExtenstion.GetEnumItem(((ETS.Enums.OrderStatusCommon)item.OrderStatus).GetType(), (ETS.Enums.OrderStatusCommon)item.OrderStatus).Text</td>
                            <td>@item.OptName</td>
                            <td>@item.InsertTime</td>
                            <td>@item.Remark</td>
                            <td>@strplatform</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.Status != 3)
    {
        <div class="SearchMd" style="float:left">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        @if (SuperMan.App_Start.UserContext.Current.HasAuthority(39))
                        {
                            <input type="button" value="取消订单" class="searchBtn" id="btnCancel" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    }
    <div class="selectSupplierDish">
        <div class="add-openbox add-form" id="OrderOptionShow" style="width:500px">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input01">操作描述</label>
                    <div class="controls">
                        <textarea cols="45" rows="5" id="orderOptionLog"></textarea>
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
            <p class="btnbox">
                <input value="确认" type="button" id="btnSave" class="yesBtn" />
                <input value="关闭" type="button" class="J_closebox qxBtn" />
            </p>
        </div>
    </div>
</div>
<script>
    var adminjs = new adminglass(); //实例化后台类
    
    $("#btnCancel").click(function () {
        var orderOptionLog = $('#orderOptionLog').val();
        if ($("#IsEnable").val().trim() == "0") {
            alert("已删除的订单不能取消！");
            return false;
        }
        
        adminjs.openwinbox('#OrderOptionShow');

    });
    $('.J_closebox').click(function () {
        adminjs.closewinbox('.add-openbox');
        return false;
    });
    $('#btnSave').bind('click', function () {
        var orderNo = $('#OrderNo').val();
        var orderId = $('#OrderId').val();
        var orderOptionLog = $('#orderOptionLog').val();
        if ($("#orderOptionLog").val().trim() == "") {
            alert("操作描述不能为空！");
            return false;
        }
        if (confirm("确定要取消该订单吗？")) {
            var paramaters = { "OrderNo": orderNo, "OrderOptionLog": orderOptionLog };
            var url = "/Order/CancelOrder";
            $.ajax({
                type: 'POST',
                url: url,
                data: paramaters,
                success: function (result) {
                    if (result.IsSuccess) {
                        alert(result.Message);
                        adminjs.closewinbox('.add-openbox');
                        window.location.href = "/Order/OrderDetail?orderNo=" + orderNo + "&orderId=" + orderId;
                    } else {
                        alert(result.Message);
                    }
                }
            });
        }
        return true;
    });
</script>







